@use "../global/variables.scss";

.about {
  padding: min(4rem, 60px) 0;
  background-color: variables.$background-primary-light;

  @media (min-width: variables.$tablet-width) {
    padding: min(6rem, 80px) 0 min(3.5rem, 47px);
    text-align: center;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(12rem, 169px) 0 min(12.5rem, 176px);
    text-align: start;
  }
}

.about__wrapper {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-rows: repeat(3, min-content) min(34.5rem, 460px) min(8.5rem, 113px);
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: min(40rem, 562px) min(10rem, 140px) min(66rem, 928px);
    grid-template-rows: repeat(3, min-content) min(11.5rem, 162px) 1fr;
  }
}

.about__title {
  margin: 0;
  margin-bottom: min(1.2rem, 18px);

  @media (min-width: variables.$tablet-width) {
    margin-bottom: min(2rem, 27px);
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 2;
    margin-bottom: min(2.5rem, 35px);
  }
}

.about__capture {
  margin: 0;
  margin-bottom: min(3.7rem, 54px);

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 2;
    margin-bottom: min(1.8rem, 24px);
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(1.8rem, 25px);
  }
}

.about__description {
  margin: min(3.6rem, 54px) 0 min(3.5rem, 54px);

  @media (min-width: variables.$tablet-width) {
    justify-self: center;
    max-width: min(50.2rem, 669px);
    margin-top: min(1rem, 13px);
    margin-bottom: min(2.8rem, 37px);
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 6;
    justify-self: start;
    max-width: min(35.5rem, 499px);
    margin: min(6.9rem, 97px) 0 max(-0.4rem, -6px);
  }
}

.about__description p {
  max-width: min(29rem, 435px);
  margin: min(0.8rem, 12px) 0;
  font-size: min(1.4rem, 21px);
  line-height: min(2.2rem, 33px);

  @media (min-width: variables.$tablet-width) {
    max-width: none;
    margin: min(0.8rem, 11px) 0;
    font-size: min(1.6rem, 21px);
    line-height: min(2.4rem, 32px);
  }

  @media (min-width: variables.$desktop-width) {
    margin: min(0.8rem, 11px) 0;
    font-size: min(1.6rem, 22px);
    line-height: min(2.4rem, 34px);
  }

  &:last-child {
    display: none;

    @media (min-width: variables.$desktop-width) {
      display: block;
    }
  }
}

.about__image-wrapper {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-bottom: min(3.6rem, 54px);

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    justify-self: center;
    width: min(67.8rem, 904px);
    height: min(34.5rem, 460px);
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 3 / -1;
    grid-row: 1 / 5;
    width: min(66rem, 928px);
    height: min(40rem, 562px);
  }
}

.about__image {
  display: block;
  width: 100%;
}

.about__video {
  width: calc(100% + 30px);
  margin-left: -15px;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
    grid-row: 4 / -1;
    justify-self: center;
    align-self: end;
    width: min(27rem, 360px);
    height: min(17rem, 227px);
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / -1;
    justify-self: start;
    align-self: start;
    width: min(36rem, 506px);
    height: min(23rem, 323px);
  }
}
