@use "../global/variables";

.about {
  padding: min(2rem, 30px) 0;

  @media (min-width: variables.$tablet-width) {
    padding: 4rem 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(10rem, 137px) 0;
  }
}

.about__wrapper {
  display: grid;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 40.5rem auto;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: min(54rem, 742px) auto;
  }
}

.about__title {
  margin: 0;
  margin-bottom: min(2.5rem, 37px);

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 3.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(5.7rem, 78px);
    padding: 0;
    padding-top: min(4.5rem, 62px);
  }
}

.about__image-wrapper {
  order: -1;
  width: calc(100% + 30px);
  height: min(40rem, 600px);
  margin: -6px 0 6px -15px;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 2;
    grid-row: span 3;
    width: 45rem;
    height: 35rem;
    margin: 0;
    margin-left: -45px;
    padding-top: 134px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-row: span 5;
    width: min(66rem, 906px);
    height: min(49.8rem, 684px);
    margin-left: -120px;
    padding: 0;
  }
}

.about__image {
  display: block;
  width: 100%;
  height: 100%;
}

.about__text-wrapper {
  @media (min-width: variables.$tablet-width) {
    max-width: 27rem;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: min(58.5rem, 803px);
  }
}

.about__text-wrapper:not(:last-child) {
  margin-bottom: min(2.5rem, 37px);

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 2.5rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(2.5rem, 34px);
  }
}

.about__text-wrapper br {
  @media (width <= 1023px) {
    display: none;
  }
}

.about h3 {
  margin: 0;
  margin-bottom: min(1.5rem, 22px);
  font-size: min(1.6rem, 24px);
  line-height: 100%;
  font-weight: 700;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(2rem, 27px);
    font-size: min(2.1rem, 29px);
  }
}

.about p {
  margin: 0;
  font-size: min(1.4rem, 21px);
  line-height: min(2rem, 30px);

  @media (min-width: variables.$tablet-width) {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: min(1.4rem, 19px);
    line-height: min(2.2rem, 30px);
  }
}
