@use "../global/variables.scss";
@use "../global/mixins.scss";

.accordion {
  display: none;
  text-align: left;

  &--show {
    display: block;
  }

  @media (scripting: none) {
    display: block;
  }
}

.accordion__list {
  @include mixins.list-reset;
}

.accordion__item {
  display: grid;
  gap: min(2rem, 30px);
  padding: min(2rem, 30px) 0;
  border-top: 1px solid #74819c;

  &:last-child {
    border-bottom: 1px solid #74819c;
  }

  @media (min-width: variables.$tablet-width) {
    gap: min(1rem, 13px);
    padding: min(2.5rem, 33px) 0;
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(2.3rem, 32px);
    padding: min(2.2rem, 31px) 0 min(2.3rem, 32px);
  }
}

.accordion__item:not(:has([aria-expanded="true"])) {
  gap: 0;
  transition: gap 0.4s linear;
}

.accordion__item h3 {
  margin: 0;
}

.accordion__item h3 > button {
  display: grid;
  grid-template-columns: min(23.8rem, 357px) 1fr;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: inherit;
  font-size: min(2rem, 30px);
  line-height: min(2rem, 30px);
  font-weight: 400;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: min(50rem, 667px) auto;
    font-size: min(2.2rem, 29px);
    line-height: min(2.2rem, 29px);
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: min(66rem, 928px) auto;
    font-size: min(2.4rem, 34px);
    line-height: min(2.4rem, 34px);
  }

  &::after {
    content: "";
    justify-self: end;
    width: min(3rem, 45px);
    height: min(3rem, 45px);
    border: 1px solid variables.$color-dark-secondary;
    border-radius: 50%;
    background-image: url("/__spritemap#sprite-plus-dark-view");
    background-repeat: no-repeat;
    background-size: min(1.4rem, 21px) min(1.4rem, 21px);
    background-position: center;
    transition:
      background 0.3s linear,
      opacity 0.3s linear;

    @media (min-width: variables.$tablet-width) {
      width: min(4rem, 53);
      height: min(4rem, 53);
      background-size: min(2rem, 27px) min(2rem, 27px);
    }

    @media (min-width: variables.$desktop-width) {
      width: min(4rem, 56px);
      height: min(4rem, 56px);
      background-size: min(2rem, 28px) min(2rem, 28px);
    }

    @media (scripting: none) {
      display: none;
    }
  }

  &:hover::after {
    background-color: variables.$color-dark-secondary;
    background-image: url("/__spritemap#sprite-plus-light-view");
  }

  &:focus-visible {
    outline: 2px solid variables.$text-primary;
  }

  &:focus::after,
  &:focus-visible::after {
    background-color: #74819c;
    background-image: url("/__spritemap#sprite-plus-light-view");
  }

  &:disabled::after {
    opacity: 0.3;
    pointer-events: none;
  }
}

.accordion__item [aria-expanded="true"]::after {
  background-color: variables.$color-dark-secondary;
  background-image: url("/__spritemap#sprite-minus-view");
}

.accordion__item [aria-expanded="true"]:hover::after {
  background-color: variables.$color-dark-secondary;
  background-image: url("/__spritemap#sprite-minus-view");
}

.accordion__item [aria-expanded="true"]:focus::after,
.accordion__item [aria-expanded="true"]:focus-visible::after {
  background-color: #74819c;
  background-image: url("/__spritemap#sprite-minus-view");
}

.accordion__item h3:has([aria-expanded="true"]) + .accordion__content {
  grid-template-rows: 1fr;
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s cubic-bezier(0.37, 0, 0.63, 1);
}

.accordion__content p {
  margin: 0;
  font-size: min(1.6rem, 24px);
  line-height: min(2rem, 30px);
  font-weight: 300;
  color: variables.$text-primary;
  overflow: hidden;

  @media (min-width: variables.$tablet-width) {
    max-width: min(56rem, 747px);
    font-size: min(1.8rem, 24px);
    line-height: min(2.4rem, 32px);
  }

  @media (min-width: variables.$desktop-width) {
    max-width: min(66rem, 928px);
    font-size: min(1.8rem, 25px);
    line-height: min(2.4rem, 34px);
  }
}
