@use "../global/variables";

.advantages-card {
  padding: min(1.9rem, 28px) min(0.9rem, 13px);
  background-color: variables.$background-primary-light;
  border: 1px solid variables.$color-border;

  @media (min-width: variables.$tablet-width) {
    padding: 2.9rem 1.9rem;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(3.9rem, 39px) min(1.9rem, 19px);
  }

  &::before {
    content: "";
    display: block;
    width: min(4.2rem, 63px);
    height: min(4.2rem, 63px);
    margin: 0 auto;
    margin-bottom: min(2rem, 30px);
    background-repeat: no-repeat;
    background-size: min(2.4rem, 36px) min(2.4rem, 36px);
    background-position: center;
    border: 1px solid variables.$color-accent;

    @media (min-width: variables.$tablet-width) {
      width: 4.8rem;
      height: 4.8rem;
      margin-bottom: 2.5rem;
      background-size: 2.4rem 2.4rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(5.4rem, 54px);
      height: min(5.4rem, 54px);
      margin-bottom: min(3rem, 30px);
      background-size: min(2.4rem, 24px) min(2.4rem, 24px);
    }
  }

  &--safety::before {
    background-image: url("/__spritemap#sprite-safety-view");
  }

  &--expertise::before {
    background-image: url("/__spritemap#sprite-crown-view");
  }

  &--equipment::before {
    background-image: url("/__spritemap#sprite-boots-view");
  }

  &--routes::before {
    background-image: url("/__spritemap#sprite-path-view");
  }

  &--nature::before {
    background-image: url("/__spritemap#sprite-leaf-view");
  }
}

.advantages-card h3 {
  margin: 0;
  margin-bottom: min(1.5rem, 22px);
  font-size: min(1.4rem, 21px);
  line-height: 100%;
  font-weight: 600;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(1.5rem, 15px);
    font-size: min(1.8rem, 18px);
  }
}

.advantages-card p {
  margin: 0;
  font-size: min(1.2rem, 18px);
  line-height: min(1.8rem, 27px);

  @media (min-width: variables.$tablet-width) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: min(1.4rem, 14px);
    line-height: min(2.2rem, 22px);
  }
}
