@use "../global/variables";

.advantages {
  padding: min(2rem, 30px) 0;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    padding: 4rem 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(10rem, 100px) 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: min(2rem, 30px);

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 5rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(5rem, 50px);
    padding-top: min(3.5rem, 35px);
    padding-bottom: 0;
  }
}

.advantages__slider {
  width: min(29rem, 435px);
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: 67.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(144rem, 1440px);
    margin-bottom: min(5rem, 50px);
  }
}

.advantages__navigation {
  @media (width <=1023px) {
    display: none;
  }

  @media (min-width: variables.$desktop-width) {
    justify-content: center;
  }
}
