@use "../global/variables";
@use "../global/mixins";

.advantages-slider {
  overflow: hidden;
}

.advantages-slider__wrapper {
  width: min(29rem, 435px);

  @media (min-width: variables.$tablet-width) {
    width: 67.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: var(--width);
  }
}

.advantages-slider__list {
  @include mixins.list-reset;

  display: flex;
  justify-content: center;
  gap: min(1.5rem, 22px);
  flex-wrap: wrap;

  @media (min-width: variables.$tablet-width) {
    gap: 3.0rem;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 0;
    flex-wrap: nowrap;
    justify-content: start;
  }
}

.advantages-slider__list .advantages-slider__item {
  width: fit-content;
}

.advantages-slider__item {
  display: grid;
}

.advantages-slider__slide {
  width: min(29rem, 435px);

  @media (min-width: variables.$tablet-width) {
    width: 32.4rem;
    min-height: 34rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(38rem, 380px);
    min-height: min(32.9rem, 329px);
  }
}
