@use "../global/variables";

.background-wrapper {
  background-color: variables.$background-primary-light;
  background-image:
    image-set(url("../img/backgrounds/clouds-1@2x.webp") type("image/webp") 2x,
    url("../img/backgrounds/clouds-1.webp") type("image/webp") 1x,
    url("../img/backgrounds/clouds-1.png") type("image/png") 1x);
  background-repeat: no-repeat;
  background-size: 117.6rem 78.6rem;
  background-position: 17.9rem 67.8rem;

  @media (min-width: variables.$tablet-width) {
    background-image:
      image-set(url("../img/backgrounds/clouds-2@2x.webp") type("image/webp") 2x,
      url("../img/backgrounds/clouds-2.webp") type("image/webp") 1x,
      url("../img/backgrounds/clouds-2@2x.png") type("image/png") 2x,
      url("../img/backgrounds/clouds-2.png") type("image/png") 1x),
      image-set(url("../img/backgrounds/clouds-1@2x.webp") type("image/webp") 2x,
      url("../img/backgrounds/clouds-1.webp") type("image/webp") 1x,
      url("../img/backgrounds/clouds-1.png") type("image/png") 1x),
      image-set(url("../img/backgrounds/clouds-2@2x.webp") type("image/webp") 2x,
      url("../img/backgrounds/clouds-2.webp") type("image/webp") 1x,
      url("../img/backgrounds/clouds-2@2x.png") type("image/png") 2x,
      url("../img/backgrounds/clouds-2.png") type("image/png") 1x),
      image-set(url("../img/backgrounds/clouds-2@2x.webp") type("image/webp") 2x,
      url("../img/backgrounds/clouds-2.webp") type("image/webp") 1x,
      url("../img/backgrounds/clouds-2@2x.png") type("image/png") 2x,
      url("../img/backgrounds/clouds-2.png") type("image/png") 1x);

    background-size: min(84rem, 840px) min(28rem, 280px), min(204.6rem, 2046px) min(163rem, 1630px), min(120rem, 1200px) min(40.1rem, 401px), min(78.8rem, 788px) min(26.3rem, 263px);
    background-position: 30.3rem 236.5rem, 34.3rem 102.4rem, -45.1rem 424.8rem, 21.3rem 474.7rem;
  }

  @media (min-width: variables.$desktop-width) {
    background-position: min(80.7rem, 807px) min(235.2rem, 2352px), min(83.8rem) min(80rem, 800px), max(-31.2rem, -312px) min(364.3rem, 3643px), min(99.1rem, 991px) min(382.7rem, 3827px);
  }
}
