@use "../global/variables.scss";
@use "../global/mixins.scss";

.contacts {
  padding: min(4rem, 60px) 0;
  background-color: variables.$background-primary-light;

  @media (min-width: variables.$tablet-width) {
    padding: min(6rem, 80px) 0;
    text-align: center;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    padding: min(6rem, 84px) 0 min(7.1rem, 100px);
    text-align: left;
  }
}

.contacts__wrapper {
  width: min(29rem, 435px);
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: min(44rem, 587px);
  }

  @media (min-width: variables.$desktop-width) {
    width: min(47.7rem, 670px);
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: min(3.4rem, 51px);

  @media (min-width: variables.$tablet-width) {
    margin-bottom: min(3.6rem, 48px);
    font-size: min(5.4rem, 72px);
    line-height: min(5.4rem, 72px);
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(3.6rem, 51px);
    font-size: min(5.4rem, 76px);
    line-height: min(5.4rem, 76px);
  }
}

.contacts__list {
  @include mixins.list-reset;

  position: relative;
  display: grid;
  grid-auto-flow: dense;
  gap: min(2.8rem, 42px);

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: min(6rem, 80px);
    row-gap: min(1.5rem, 20px);
    text-align: left;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: min(12rem, 169px);
    row-gap: min(1.5rem, 21px);
  }

  &::before {
    @media (min-width: variables.$tablet-width) {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 1px;
      height: 100%;
      background-color: #74819c;
    }
  }
}

.contacts__item:nth-child(4n-3),
.contacts__item:nth-child(4n-2) {
  grid-column: 1 / 2;
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: min(1.2rem, 18px);

  @media (min-width: variables.$tablet-width) {
    margin-bottom: min(0.5rem, 7px);
    font-size: min(2.4rem, 32px);
    line-height: min(2.4rem, 32px);
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(0.5rem, 7px);
    font-size: min(2.4rem, 34px);
    line-height: min(2.4rem, 34px);
  }
}

.contacts__text {
  display: block;
  margin: 0;
  font-style: normal;
  text-decoration: none;
  color: variables.$text-primary;
}

.contacts__link {
  position: relative;

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus,
  &:focus-visible {
    color: variables.$text-accent-dark;
  }

  &:active {
    color: variables.$text-primary;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
  }

  &--disabled {
    color: rgba(248, 249, 252, 0.5);
    pointer-events: none;
  }
}
