@use "../global/variables";
@use "../global/mixins";

.contacts {
  padding: min(2rem, 30px) 0;

  @media (min-width: variables.$tablet-width) {
    padding: 4rem 0;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, min(60rem, 600px));
    justify-content: center;
    padding: min(10rem, 100px) 0 min(9.5rem, 95px);
  }
}

.contacts__wrapper {
  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 2;
    width: 100%;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: min(1.2rem, 18px);

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(2.1rem, 21px);
    padding-top: min(2.3rem, 23px);
    padding-bottom: min(0.1rem, 1px);
  }
}

.contacts p {
  margin: 0;
  margin-bottom: min(3rem, 45px);
  font-size: min(1.4rem, 21px);
  line-height: min(2rem, 30px);

  @media (min-width: variables.$tablet-width) {
    max-width: 48rem;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: min(50rem, 500px);
    margin-bottom: min(5rem, 50px);
    font-size: min(1.6rem, 16px);
    line-height: min(2.4rem, 24px);
  }
}

.contacts__list {
  @include mixins.list-reset;

  display: flex;
  flex-direction: column;
  row-gap: min(3rem, 45px);
  margin-bottom: min(3rem, 45px);

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 3rem;
    margin-bottom: 4rem;
  }

  @media (min-width: variables.$desktop-width) {
    flex-direction: column;
    column-gap: min(4rem, 40px);
    row-gap: min(3.5rem, 35px);
    margin: 0;
  }
}

.contacts__item {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: min(2.2rem, 33px) 1fr;
  column-gap: min(1rem, 15px);
  row-gap: min(0.8rem, 12px);

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 2.4rem 1fr;
    column-gap: 1rem;
    row-gap: 0.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: min(2.4rem, 24px) 1fr;
    column-gap: min(3rem, 30px);
    row-gap: min(0.8rem, 8px);
  }

  &::before {
    content: "";
    grid-row: span 2;
    width: min(2.2rem, 33px);
    height: min(2.2rem, 33px);
    background-color: variables.$text-primary-dark;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    @media (min-width: variables.$tablet-width) {
      width: 2.4rem;
      height: 2.4rem;
    }

    @media (min-width: variables.$desktop-width) {
      align-self: center;
      width: min(2.6rem, 26px);
      height: min(2.6rem, 26px);
    }
  }

  &--phone::before {
    mask-image: url("/__spritemap#sprite-phone-view");
  }

  &--email::before {
    mask-image: url("/__spritemap#sprite-mail-view");
  }

  &--address::before {
    mask-image: url("/__spritemap#sprite-pin-stroke-view");
  }
}

.contacts__item--address {
  @media (min-width: variables.$tablet-width) and (width <= 1023px) {
    margin-right: -2px;
  }
}

.contacts__subtitle {
  margin: 0;
}

.contacts__info {
  max-width: min(18rem, 270px);
  font-style: normal;

  @media (min-width: variables.$tablet-width) {
    max-width: 25.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: min(29.5rem, 295px);
  }
}

.contacts__link {
  text-decoration: none;
  color: variables.$text-primary-dark;
  transition: color 0.3s linear;

  &:hover {
    color: variables.$color-hover;
  }

  &:focus {
    color: variables.$color-accent;
  }

  &:active {
    color: variables.$color-active;
  }
}

.contacts__map {
  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / 3;
    align-self: center;
  }
}
