@use "../global/variables.scss";

.feature {
  display: grid;
}

.feature:nth-child(9n+1),
.feature:nth-child(9n+2),
.feature:nth-child(9n+7) {
  @media (min-width: variables.$desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -40px;
      width: 100%;
      height: 2px;
      background-color: rgba(209, 10, 66, 0.2);
    }
  }
}

.feature__card {
  display: grid;
  justify-items: center;
  gap: 12px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    justify-content: space-between;
    justify-items: start;
    grid-auto-flow: dense;
    column-gap: 15px;
    row-gap: 12px;
    text-align: left;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: min-content 210px;
    column-gap: 43px;
    row-gap: 8px;
  }
}

.feature__card h3 {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: variables.$text-primary;

  @media (min-width: variables.$tablet-width) {
    grid-column: 2 / 3;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 22px;
    line-height: 22px;
  }
}

.feature__card p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: variables.$text-primary;

  @media (min-width: variables.$tablet-width) {
    grid-column: 2 / 3;
    font-size: 16px;
    line-height: 24px;
  }
}

.feature__card p:has(span) {
  order: -1;
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  text-transform: lowercase;
  color: transparent;
  background-image: linear-gradient(130deg, #d10a42, #0041ca 45%);
  background-clip: text;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 2;
    grid-row: span 2;
    font-size: 70px;
    line-height: 70px;
  }
}

.feature__card p > span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2e35ac;

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.feature:nth-child(3n) .feature__card {
  gap: 20px;
  width: calc(100% + 30px);
  margin: 5px 0 5px -15px;
  padding: 30px 75px 40px;
  background-color: variables.$background-secondary-accent;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: auto;
    justify-items: center;
    gap: 25px;
    width: 320px;
    margin: 0;
    padding: 35px;
    text-align: center;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 30px;
    width: 360px;
    padding: 58px 40px;
  }
}

.feature:nth-child(3n) h3 {
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet-width) {
    grid-column: auto;
  }
}

.feature:nth-child(3n) p:has(span),
.feature:nth-child(3n) h3:has(span) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 2;
    gap: 25px;
    font-size: 70px;
    line-height: 70px;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 10px;
  }
}

.feature:nth-child(3n) p > span,
.feature:nth-child(3n) h3 > span {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-transform: initial;
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 2;
    gap: 25px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 10px;
    font-size: 26px;
    line-height: 26px;
  }
}

.feature:nth-child(3n) p {
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 2;
  }
}
