@use "../global/variables.scss";
@use "../global/mixins.scss";

.features {
  padding: 40px 0;
  text-align: center;
  background-color: variables.$background-secondary-light;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 100px 0;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 50px;
  }
}

.features__list {
  @include mixins.list-reset;

  display: grid;
  gap: 35px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    column-gap: 40px;
    row-gap: 80px;
  }
}

.features__item:nth-child(3n) {
  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: auto;
    grid-row: span 2;
  }
}

.features__item:nth-child(9n+1),
.features__item:nth-child(9n+4) {
  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 2;
  }
}

.features__item:nth-child(9n+8) {
  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / 3;
  }
}

.features__item:nth-child(9n+2),
.features__item:nth-child(9n+5) {
  @media (min-width: variables.$desktop-width) {
    grid-column: 3 / 4;
  }
}
