@use "../global/variables";

.footer {
  background-color: variables.$background-primary-light;
}

.footer__container {
  padding: min(2.2rem, 33px) 0 min(2rem, 30px);
  border-top: 1px solid variables.$color-border-transparent;

  @media (min-width: variables.$tablet-width) {
    padding: 3.3rem 0 2rem;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(3.1rem, 31px) 0 min(3.2rem, 32px);
  }
}

.footer__wrapper {
  display: grid;
  row-gap: min(2.3rem, 34px);
  justify-items: center;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: auto 1fr;
    row-gap: 3.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: min(20rem, 200px) 1fr min(20rem, 200px);
    row-gap: min(2.2rem, 22px);
  }
}

.footer__logo {
  width: min(14.2rem, 213px);
  height: min(4.2rem, 63px);

  @media (min-width: variables.$tablet-width) {
    width: 14.2rem;
    height: 4.2rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(20rem, 200px);
    height: min(6rem, 60px);
    padding: min(0.9rem, 9px) min(2.9rem, 29px);
  }
}

.footer__navigation {
  margin-top: max(-0.3rem, -4px);
  margin-bottom: max(-0.3rem, -4px);

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }
}

.footer__phone {
  @media (width <= 1023px) {
    display: none;
  }

  @media (min-width: variables.$desktop-width) {
    align-self: start;
    justify-self: end;
    padding-top: min(2.1rem, 21px);
  }
}

.footer__social {
  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
  }
}

.footer__copyright {
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
  }
}
