@use "../global/variables.scss";

.form {
  display: grid;
  gap: min(2.7rem, 40px);

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: min(3rem, 40px);
    row-gap: min(3.5rem, 47px);
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: min(3rem, 42px);
    row-gap: min(3.5rem, 49px);
  }
}

.form__button {
  margin-top: min(0.9rem, 13px);

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
    margin: 0;
    padding: min(2.7rem, 36px);
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(2.7rem, 38px);
  }
}
