@use "../global/variables";

.gallery {
  padding: min(2rem, 30px) 0 min(0.3rem, 4px);

  @media (min-width: variables.$tablet-width) {
    padding: 4rem 0 0.3rem;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(10rem, 137px) 0 min(0.3rem, 4px);
  }
}

.gallery__wrapper {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: auto;
  }
}

.gallery__title {
  margin: 0;
  margin-bottom: min(1rem, 15px);
  padding-top: min(1.7rem, 25px);
  padding-bottom: min(1.6rem, 24px);

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(2.6rem, 36px);
    padding-top: min(1.9rem, 26px);
    padding-bottom: min(0.1rem, 2px);
  }
}

.gallery p {
  margin: 0;
  margin-bottom: min(3.1rem, 46px);
  font-size: min(1.2rem, 18px);
  line-height: min(1.8rem, 27px);

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 2;
    max-width: 42rem;
    margin: 0;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / -1;
    max-width: min(61rem, 838px);
    margin-bottom: min(4.6rem, 63px);
    font-size: min(1.6rem, 22px);
    line-height: min(2.4rem, 33px);
  }
}

.gallery__slider {
  width: 32rem;

  @media (min-width: variables.$tablet-width) {
    width: 76.8rem;
    margin-top: 2.1rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(144rem, 1980px);
    margin: 0 auto;
  }
}

.gallery .gallery__navigation {
  @media (width < 768px) or (width >= 1023px) {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    grid-column: 2 / 3;
    align-self: end;
  }
}
