@use "../global/variables";
@use "../global/mixins";

.gallery-slider {
  overflow: hidden;
}

.gallery-slider__wrapper {
  width: min(32rem, 480px);

  @media (min-width: variables.$tablet-width) {
    width: 76.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(144rem, 1977px);
  }
}

.gallery-slider__list {
  @include mixins.list-reset;

  @media (min-width: variables.$desktop-width) {
    display: flex;
    gap: min(0.5rem, 7px);
    flex-wrap: wrap;
  }
}

.gallery-slider__list .gallery-slider__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;

  @media (min-width: variables.$desktop-width) {
    width: fit-content;
  }
}

.gallery-slider__image {
  display: block;
  max-width: none;
}
