@use "../global/variables.scss";

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: min(1rem);
  padding: min(1.6rem, 24px) 0;

  @media (min-width: variables.$tablet-width) {
    column-gap: min(4rem, 53px);
    row-gap: min(2rem, 27px);
    padding: min(3rem, 40px) 0;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: min(4rem, 56px);
    row-gap: min(2rem, 28px);
    padding: min(3rem, 42px) 0;
  }
}

.header__logo {
  width: min(10rem, 150px);
  height: min(2rem, 30px);
  margin-right: auto;

  @media (min-width: variables.$tablet-width) {
    width: min(11rem, 147px);
    height: min(2.2rem, 29px);
  }

  @media (min-width: variables.$desktop-width) {
    width: min(13rem, 183px);
    height: min(2.6rem, 36px);
  }
}

.header__phone {
  min-width: min(14.9rem, 223px);
  color: variables.$text-secondary;
  text-decoration: none;
  transition: color 0.3s linear;

  @media (min-width: variables.$tablet-width) {
    min-width: min(16.2rem, 216px);
  }

  @media (min-width: variables.$desktop-width) {
    min-width: min(17.6rem, 247px);
  }

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus,
  &:focus-visible {
    color: variables.$text-accent-dark;
  }

  &:active {
    color: variables.$text-primary;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
  }

  &--disabled {
    color: rgba(248, 249, 252, 0.5);
    pointer-events: none;
  }
}
