@use "../global/variables";

.header {
  padding: min(1.5rem, 22px) 0;
  background-color: variables.$background-accent;

  @media (min-width: variables.$tablet-width) {
    padding: 20px 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(3.2rem, 32px) 0;
  }
}

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: dense;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: auto 1fr auto;
    align-items: start;
  }
}

.header__button {
  display: grid;
  place-content: center;
  width: min(2.6rem, 39px);
  height: min(2.6rem, 39px);
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    width: 2.6rem;
    height: 2.6rem;
  }

  &::before {
    content: "";
    width: min(2.6rem, 39px);
    height: min(2.6rem, 39px);
    background-color: variables.$text-primary-light;
    mask-image: url("/__spritemap#sprite-menu-view");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    @media (min-width: variables.$tablet-width) {
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  @media (min-width: variables.$desktop-width) {
    display: none;
  }
}

.header--with-menu .header__button::before {
  mask-image: url("/__spritemap#sprite-cross-view");
}

.header__logo {
  width: min(14.2rem, 213px);
  height: min(4.2rem, 63px);

  @media (min-width: variables.$tablet-width) {
    justify-self: center;
    width: 14.2rem;
    height: 4.2rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(20.5rem, 205px);
    height: min(6.2rem, 62px);
    padding: min(1rem, 10px) min(3.1rem, 31px) min(1rem, 10px) min(3.2rem, 32px);
  }
}

.header__phone {
  grid-column: 1 / -1;
  justify-self: end;
  margin-top: min(1.4rem);

  @media (min-width: variables.$tablet-width) {
    grid-column: 3 / 4;
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: min(15.8rem, 158px);
  }
}

.header__navigation-wrapper {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s linear;

  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / 3;
    justify-self: center;
    grid-template-rows: auto;
  }
}

.header--with-menu .header__navigation-wrapper {
  grid-template-rows: 1fr;
}

.header__navigation {
  overflow: hidden;
}
