@use "../global/variables";
@use "../global/mixins";

.hero-slider {
  position: relative;
  overflow: hidden;
}

.hero-slider__list {
  @include mixins.list-reset;

  display: flex;
  overflow: scroll;
}

.hero-slider__slide {
  width: 320px;

  @media (min-width: variables.$tablet-width) {
    width: 768px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1440px;
  }
}

.hero-slider__pagination {
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translateX(50%);

  @media (min-width: variables.$desktop-width) {
    right: 120px;
    bottom: 92px;
    transform: none;
  }
}
