@use "../global/variables";

.hero {
  background-color: variables.$background-primary-light;
}

.hero__slider {
  width: 320px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: 768px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1440px;
  }
}
