@use "../global/variables";

.hero-card__wrapper {
  width: 290px;
}

.hero-card__title {
  margin: 0;
  padding: 20px 15px 16px 14px;
  color: variables.$text-accent;
  background-color: variables.$background-secondary-light;
  border-radius: 0 16px 16px 0;
}

.hero-card p {
  position: relative;
  width: 267px;
  margin: 0;
  padding: 0 14px 15px;
  font-size: 14px;
  line-height: 20px;
  background-color: variables.$background-secondary-light;
  border-radius: 0 0 14px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 10px;
    height: 10px;
    background-image: url("/__spritemap#sprite-angle-view");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(90deg);
  }
}

.hero-card__link-wrapper {
  width: fit-content;
  padding: 10px 15px;
  background-color: variables.$background-secondary-light;
  border-radius: 0 0 14px 14px;
}
