@use "../global/variables";

.hero-card {
  position: relative;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-auto-flow: dense;
  min-height: min(56.8rem, 852px);
  padding: min(4rem, 60px) min(1.5rem, 22px) min(5.6rem, 84px);
  text-align: center;
  color: variables.$text-primary-light;
  background-color: variables.$background-contrast;

  @media (min-width: variables.$tablet-width) {
    min-height: 103.4rem;
    padding: 4rem 4.5rem;
  }

  @media (min-width: variables.$desktop-width) {
    justify-items: start;
    align-content: start;
    min-height: min(80rem, 1100px);
    padding: min(20rem, 275px) min(12rem, 165px) min(8rem, 110px);
    text-align: left;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: variables.$gradient-light;
  }
}

.hero-card:has(.hero-card__photo-wrapper) {
  @media (min-width: variables.$desktop-width) {
    grid-template-columns: auto min(1.6rem, 22px) auto;
    grid-template-rows: repeat(2, min-content) 1fr min-content;
  }
}

.hero-card h3 {
  z-index: 2;
  margin: 0;
  margin-bottom: min(1.5rem, 22px);
  font-size: min(2.6rem, 39px);
  line-height: 100%;
  font-weight: 800;

  @media (min-width: variables.$tablet-width) {
    margin-top: -6rem;
    font-size: 5.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 0;
    margin-bottom: min(2.5rem, 34px);
    font-size: min(7.7rem, 106px);
  }
}

.hero-card:has(.hero-card__photo-wrapper) h3 {
  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}

.hero-card__info {
  @media (width <= 1023px) {
    display: none;
  }

  @media (min-width: variables.$desktop-width) {
    z-index: 2;
    order: 2;
    display: flex;
    gap: min(1rem, 14px);
    margin: 0;
  }
}

.hero-card:has(.hero-card__photo-wrapper) .hero-card__info {
  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 2;
  }
}

.hero-card__definition {
  @media (min-width: variables.$desktop-width) {
    display: flex;
    align-items: center;
    gap: min(0.8rem, 11px);
    margin: 0;
    padding: min(1.3rem, 18px) min(1.9rem, 26px);
    font-size: min(1.2rem, 16px);
    line-height: min(1.6rem, 22px);
    border: 1px solid variables.$color-opacity;

    &::before {
      content: "";
      width: min(1.2rem, 16px);
      height: min(1.2rem, 16px);
      background-color: variables.$text-primary-light;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
    }

    &--duration::before {
      mask-image: url("/__spritemap#sprite-moon-view");
    }

    &--difficulty::before {
      mask-image: url("/__spritemap#sprite-level-view");
    }
  }
}

.hero-card__image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-card p {
  z-index: 2;
  margin: 0;
  margin-bottom: min(6rem, 90px);
  font-size: min(1.5rem, 22px);
  line-height: min(2rem, 30px);

  @media (min-width: variables.$tablet-width) {
    max-width: 50rem;
    margin-bottom: 3.5rem;
    font-size: 1.7rem;
    line-height: 2.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: min(46rem, 632px);
    margin-top: max(-0.2rem, -3px);
    margin-bottom: min(3.5rem, 48px);
    font-size: min(1.7rem, 23px);
    line-height: min(2.4rem, 33px);
  }
}

.hero-card:has(.hero-card__photo-wrapper) p {
  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 2;
  }
}

.hero-card__photos {
  @media (width <= 639px) {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    z-index: 2;
    order: 1;
    display: grid;
    grid-template-columns: auto 6rem auto;
    grid-template-rows: 5.3rem 29.8rem 1.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / 4;
    grid-row: 1 / -1;
    grid-template-columns: auto min(17.5rem, 241px) auto;
    grid-template-rows: min(9.3rem, 128px) min(31.4rem, 432px) min(5.2rem, 71px);
    margin-top: max(-1.3rem);
  }
}

.hero-card__photo-wrapper {
  @media (min-width: variables.$tablet-width) {
    grid-row: 1 / -1;

    &:nth-child(1) {
      width: 26.6rem;
      height: 35.1rem;
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    &:nth-child(2) {
      width: 23.6rem;
      height: 31.2rem;
      grid-column: 2 / 4;
      grid-row: 2 / 4;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &:nth-child(1) {
      width: min(30.8rem, 423px);
      height: min(40.7rem, 560px);
    }

    &:nth-child(2) {
      width: min(27.7rem, 381px);
      height: min(36.6rem, 503px);
    }
  }
}

.hero-card__photo {
  display: block;
  width: 100%;
}

.hero-card__button {
  z-index: 2;
  width: min(18rem, 270px);

  @media (min-width: variables.$tablet-width) {
    width: 18rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(18rem, 247px);
    margin-top: min(.2rem);
    margin-bottom: min(13.4rem, 184px);
    padding: min(2rem, 27px) min(1.9rem, 26px) min(1.8rem, 25px);
  }
}

.hero-card:has(.hero-card__photo-wrapper) .hero-card__button {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 4.5rem;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 2;
    align-self: start;
    margin-bottom: min(4.5rem, 62px);
  }
}
