@use "../global/variables";
@use "../global/mixins";

.hero-slider {
  position: relative;
  overflow: hidden;
}

.hero-slider__wrapper {
  width: min(32rem);

  @media (min-width: variables.$tablet-width) {
    width: 76.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(var(--width), 1440px);
  }
}

.hero-slider__list {
  @include mixins.list-reset;

  display: flex;
}

.hero-slider__list .hero-slider__item.hero-slider__item--current {
  pointer-events: all;
}

.hero-slider__link {
  visibility: hidden;
}

.hero-slider__item--current .hero-slider__link {
  visibility: visible;
}

.hero-slider__slide {
  width: min(32rem);

  @media (min-width: variables.$tablet-width) {
    width: 76.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(100%, 1440px);
  }
}

.hero-slider__pagination {
  position: absolute;
  bottom: min(4rem, 60px);
  right: 50%;
  transform: translateX(50%);
  z-index: 2;

  @media (min-width: variables.$tablet-width) {
    bottom: 4rem;
  }

  @media (min-width: variables.$desktop-width) {
    right: min(12rem, 120px);
    bottom: min(9.2rem, 92px);
    transform: none;
  }
}
