@use "../global/variables";
@use "../global/mixins";

.hero-slider {
  position: relative;
}

.hero-slider__wrapper {
  width: 100%;
}

.hero-slider__list {
  @include mixins.list-reset;
}

.hero-slider__list .hero-slider__item {
  display: grid;
  height: auto;
}

.hero-slider__pagination {
  position: absolute;
  top: 201px;
  left: 15px;
  z-index: 2;
  max-width: 280px;
  background-color: variables.$background-secondary-light;
  border-radius: 12px 12px 0 0;
}
