@use "../global/variables";

.hero {
  background-color: variables.$background-accent;
}

.hero__slider {
  width: min(32rem);

  @media (min-width: variables.$tablet-width) {
    width: 76.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(144rem, 1980px);
  }
}
