@use "../global/variables";
@use "../global/mixins";

.instructors-slider {
  overflow: hidden;
}

.instructors-slider__wrapper {
  width: min(29rem, 435px);
  max-width: 100%;

  @media (min-width: variables.$tablet-width) {
    width: 67.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(120rem, 1648px);
  }
}

.instructors-slider__list {
  @include mixins.list-reset;

  display: flex;
}

.instructors-slider__item {
  display: grid;
}
