@use "../global/variables";

.instructor-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto) 1fr;
  gap: min(1.5rem, 22px);
  padding: min(1.4rem, 21px);
  background-color: variables.$background-primary-light;
  border: 1px solid variables.$color-border;

  @media (min-width: variables.$tablet-width) {
    gap: 1.5rem;
    padding: 1.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(1.5rem, 21px);
    padding: min(1.4rem, 14px);
  }
}

.instructor-card h4 {
  max-width: min(12rem, 180px);
  margin: 0;
  font-size: min(1.4rem, 21px);
  line-height: min(1.6rem, 24px);
  font-weight: 700;
  word-break: break-word;

  @media (min-width: variables.$tablet-width) {
    max-width: 12rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: min(12rem, 120px);
    font-size: min(1.4rem, 14px);
    line-height: min(1.6rem, 16px);
  }
}

.instructor-card__image-wrapper {
  order: -1;
  grid-column: 1 / -1;
  justify-self: center;
  width: min(26rem, 390px);
  height: min(20rem, 300px);

  @media (min-width: variables.$tablet-width) {
    width: 18.2rem;
    height: 20rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(25.5rem, 255px);
    height: min(20rem, 200px);
  }
}

.instructor-card__image {
  display: block;
  width: 100%;
  height: 100%;
}

.instructor-card p {
  grid-column: 1 / -1;
  margin: 0;
  font-size: min(1.2rem, 18px);
  line-height: min(1.6rem, 24px);

  @media (min-width: variables.$tablet-width) {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: min(1.2rem, 12px);
    line-height: min(1.6rem, 16px);
  }
}

.instructor-card p > br {
  display: none;

  @media (min-width: variables.$tablet-width) and (width <=1023px) {
    display: inline;
  }
}

.instructor-card__social {
  width: min(2.4rem, 36px);
  height: min(2.4rem, 36px);

  @media (min-width: variables.$tablet-width) {
    width: 2.4rem;
    height: 2.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(2.4rem, 24px);
    height: min(2.4rem, 24px);
  }

  &::before {
    width: min(2.4rem, 36px);
    height: min(2.4rem, 36px);

    @media (min-width: variables.$tablet-width) {
      width: 2.4rem;
      height: 2.4rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(2.4rem, 24px);
      height: min(2.4rem, 24px);
    }
  }
}
