@use "../global/variables";
@use "../global/mixins";

.instructors-slider {
  overflow: hidden;
}

.instructors-slider__wrapper {
  width: 100%;
  max-width: 100%;

  @media (min-width: variables.$tablet-width) {
    width: 67.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100%;
  }
}

.instructors-slider__list {
  @include mixins.list-reset;

  display: flex;
}

.instructors-slider__list .instructors-slider__item {
  display: grid;
  width: min(29rem, 435px);
  height: auto;
  visibility: hidden;
  transition: visibility 0.3s linear;

  @media (min-width: variables.$desktop-width) {
    width: min(28.5rem, 285px);
  }
}

.instructors-slider__item.instructors-slider__item--visible {
  visibility: visible;
}

.instructors-slider__slide {
  @media (min-width: variables.$desktop-width) {
    width: 100%;
  }
}
