@use "../global/variables.scss";

.invite {
  display: grid;
  grid-template-columns: min(29rem, 435px);
  justify-content: center;
  align-items: center;
  padding: min(2.5rem, 37px) min(1.5rem, 22px);
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: min(30rem, 400px) auto;
    padding: min(6rem, 80px) min(4.5rem, 60px) min(3rem, 40px);
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: min(50rem, 703px) auto;
    padding: min(10rem, 140px) min(10.3rem, 145px);
  }
}

.invite__content {
  display: grid;
  grid-template-columns: min(11.7rem, 175px) auto;
  gap: min(1.6rem, 24px);
  padding: min(4rem, 60px);
  background-color: variables.$background-primary-accent;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: min(2rem, 27px);
    row-gap: min(1rem, 13px);
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: min(16.8rem, 236px) auto;
    column-gap: min(2rem, 28px);
    row-gap: min(3rem, 42px);
    padding: min(6rem, 84px) min(8rem, 112px) min(9.8rem, 138px);
  }
}

.invite__title {
  margin: 0;
}

.invite__timetable {
  justify-self: end;
  width: fit-content;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    justify-self: start;
    width: 100%;
  }

  @media (min-width: variables.$desktop-width) {
    justify-self: end;
    width: min(9.5rem, 133px);
  }
}

.invite__description {
  grid-column: 1 / -1;
  margin: 0;
}

.invite__button {
  grid-column: 1 / -1;

  @media (min-width: variables.$tablet-width) {
    padding: min(2.7rem, 36px);
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(2.7rem, 38px);
  }
}

.invite__image-wrapper {
  display: grid;
  align-items: center;
  height: 100%;
  background-color: #010246;
}

.invite__image {
  display: block;
  width: min(29rem, 435px);
  height: min(29rem, 435px);

  @media (min-width: variables.$tablet-width) {
    width: min(37.8rem, 504px);
    height: min(34.8rem, 464px);
  }

  @media (min-width: variables.$desktop-width) {
    width: min(66rem, 928px);
    height: min(50rem, 703px);
  }
}
