@use "../global/variables.scss";
@use "../global/mixins.scss";

.juri-card {
  position: relative;
  display: grid;
  justify-items: center;
  grid-auto-flow: dense;
  grid-template-columns: 100%;
  grid-template-rows: min(5.1rem, 76px) repeat(2, min-content) 1fr min(1.5rem, 22.5px);
  grid-template-areas:
    "."
    "list"
    "caption"
    "title"
    ".";

  gap: min(1rem);
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet-width) {
    grid-template-rows: min(5.1rem, 68px) repeat(2, min-content) 1fr min(1.5rem, 20px);
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-rows: min(5.1rem, 72px) repeat(2, min-content) 1fr min(1.5rem, 21px);
  }

  &::before {
    opacity: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 38, 84, 0.9);
    transition: opacity 0.3s linear;
  }
}

.juri-card__title {
  grid-area: title;
  margin: 0;
  align-self: end;
  padding: 0 min(2.5rem, 37px);
  font-size: min(2.2rem, 33px);
  line-height: min(2.2rem, 33px);
  z-index: 1;

  @media (min-width: variables.$tablet-width) {
    padding: 0 min(2.5rem, 33px);
    font-size: min(2.2rem, 29px);
    line-height: min(2.2rem, 29px);
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 min(2.5rem, 35px);
    font-size: min(2.2rem, 31px);
    line-height: min(2.2rem, 31px);
  }
}

.juri-card__image-wrapper {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: end;
  width: 100%;
}

.juri-card__image {
  display: block;
  width: 100%;
}

.juri-card__caption {
  opacity: 0;
  grid-area: caption;
  padding: 0 min(3rem, 45px);
  transition: opacity 0.3s linear;
  z-index: 1;

  @media (min-width: variables.$tablet-width) {
    padding: 0 min(3rem, 40px);
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 min(3rem, 42px);
  }
}

.juri-card__list {
  opacity: 0;
  grid-area: list;
  display: grid;
  align-self: start;
  gap: min(1.2rem, 18px);
  max-width: min(16rem, 240px);
  margin: 0;
  padding: 0;
  text-align: left;
  transition: opacity 0.3s linear;
  z-index: 1;

  @media (min-width: variables.$tablet-width) {
    gap: min(1.2rem, 16px);
    max-width: min(16rem, 213px);
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(1.2rem, 17px);
    max-width: min(16rem, 225px);
  }
}

.juri-card__item {
  display: flex;
  align-items: center;
  gap: min(1rem, 15px);

  @media (min-width: variables.$tablet-width) {
    gap: min(1rem, 13px);
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(1rem, 13px);
  }

  &::before {
    content: "";
    flex-shrink: 0;
    width: min(0.6rem, 9px);
    height: min(0.6rem, 9px);
    background-color: variables.$text-secondary;
    border-radius: 50%;

    @media (min-width: variables.$tablet-width) {
      width: min(0.6rem, 8px);
      height: min(0.6rem, 8px);
    }

    @media (min-width: variables.$desktop-width) {
      width: min(0.6rem, 8px);
      height: min(0.6rem, 8px);
    }
  }
}

.juri-card:hover,
.juri-card:focus,
.juri-card:focus-visible {
  grid-template-areas:
    "."
    "title"
    "caption"
    "list"
    ".";

  &::before {
    opacity: 1;
  }
}

.juri-card:hover .juri-card__title,
.juri-card:focus .juri-card__title,
.juri-card:focus-visible .juri-card__title {
  padding-bottom: 0;
}

.juri-card:hover .juri-card__caption,
.juri-card:focus .juri-card__caption,
.juri-card:focus-visible .juri-card__caption {
  opacity: 1;
}

.juri-card:hover .juri-card__list,
.juri-card:focus .juri-card__list,
.juri-card:focus-visible .juri-card__list {
  opacity: 1;
}
