@use "../global/variables.scss";
@use "../global/mixins.scss";

.juri-card {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 10px;
  color: variables.$text-secondary;
}

.juri-card__title {
  grid-area: title;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
  margin: 0;
  padding-bottom: 25px;
  z-index: 1;
}

.juri-card__image-wrapper {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: center;
}

.juri-card__image {
  display: block;
  width: 227px;
  height: 280px;

  @media (min-width: variables.$tablet-width) {
    width: 260px;
    height: 300px;
  }
}

.juri-card__caption {
  display: none;
  grid-area: caption;
}

.juri-card__list {
  display: none;
  grid-area: list;
  align-self: start;
  gap: 12px;
  max-width: 160px;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  text-align: left;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 61px;
  }
}

.juri-card__item {
  display: flex;
  align-items: center;
  gap: 10px;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 6px;
    height: 6px;
    background-color: variables.$text-secondary;
    border-radius: 50%;
  }
}

.juri-card:hover,
.juri-card:focus,
.juri-card:focus-visible {
  grid-auto-flow: dense;
  grid-template-columns: 227px;
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-template-areas:
    "title"
    "caption"
    "list";

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 38, 84, 0.9);
  }

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 260px;
  }
}

.juri-card:hover .juri-card__title,
.juri-card:focus .juri-card__title,
.juri-card:focus-visible .juri-card__title {
  padding-bottom: 0;
  padding-top: 56px;

  @media (min-width: variables.$tablet-width) {
    padding-top: 61px;
  }
}

.juri-card:hover .juri-card__caption,
.juri-card:focus .juri-card__caption,
.juri-card:focus-visible .juri-card__caption {
  display: block;
  z-index: 1;
}

.juri-card:hover .juri-card__list,
.juri-card:focus .juri-card__list,
.juri-card:focus-visible .juri-card__list {
  display: grid;
  z-index: 1;
}
