@use "../global/variables.scss";
@use "../global/mixins.scss";

.juri-slider {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: min(2.1rem, 28px);
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(1.8rem, 25px);
  }
}

.juri-slider__wrapper {
  width: min(22.7rem, 340px);

  @media (min-width: variables.$tablet-width) {
    width: min(56rem, 747px);
    grid-column: 2 / 3;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(116rem, 1630px);
  }

  @media (scripting: none) {
    overflow: scroll;
  }
}

.juri-slider__list {
  @include mixins.list-reset;

  @media (scripting: none) {
    gap: min(2rem, 30px);

    @media (min-width: variables.$tablet-width) {
      gap: min(4rem, 53px);
    }

    @media (min-width: variables.$desktop-width) {
      gap: min(4rem, 56px);
    }
  }
}

.juri-slider__slide {
  display: grid;

  @media (scripting: none) {
    width: auto;
  }
}

.juri-slider__button {
  display: none;

  @media (min-width: variables.$tablet-width) {
    grid-row: 1 / -1;
    align-self: center;
    display: grid;

    &--previous {
      grid-column: 1 / 2;
    }

    &--next {
      grid-column: 3 / 4;
      justify-self: end;
    }
  }

  @media (scripting: none) {
    display: none;
  }
}
