@use "../global/variables.scss";
@use "../global/mixins.scss";

.juri-slider {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 21px;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 18px;
  }
}

.juri-slider__list {
  @include mixins.list-reset;

  display: flex;
  gap: 20px;
  overflow: hidden;

  @media (min-width: variables.$tablet-width) {
    grid-column: 2 / 3;
    gap: 40px;
  }
}

.juri-slider__slide {
  flex-shrink: 0;
}

.juri-slider__button {
  display: none;

  @media (min-width: variables.$tablet-width) {
    grid-row: 1 / -1;
    align-self: center;
    display: grid;

    &--previous {
      grid-column: 1 / 2;
    }

    &--next {
      grid-column: 3 / 4;
      justify-self: end;
    }
  }
}
