@use "../global/variables";

.map {
  position: relative;
  max-width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 62%;
    width: 28px;
    height: 28px;
    background-image: url("/__spritemap#sprite-pin-filled-view");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: variables.$tablet-width) {
      top: 53.4%;
      left: 50.1%;
      width: 42px;
      height: 42px;
    }

    @media (min-width: variables.$desktop-width) {
      top: 50%;
      left: 60%;
      width: 48px;
      height: 48px;
    }
  }
}

.map__image {
  display: block;
  width: 100%;
}
