@use "../global/variables.scss";
@use "../global/mixins.scss";

.navigation__list {
  @include mixins.list-reset;

  display: flex;
  flex-wrap: wrap;
  column-gap: min(1.3rem, 19px);
  row-gap: min(0.8rem, 12px);
  margin-left: max(-1rem, -15px);

  @media (min-width: variables.$tablet-width) {
    gap: min(0.8rem, 11px);
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: min(6rem, 84px);
    row-gap: min(0.8rem, 11px);
  }
}

.navigation__link {
  display: block;
  padding: min(0.5rem, 7px) min(1rem, 15px);
  text-decoration: none;
  color: variables.$text-secondary;
  border: 1px solid transparent;
  transition: border 0.3s linear;

  @media (min-width: variables.$tablet-width) {
    padding: min(0.5rem, 7px) min(1rem, 13px);
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(0.5rem, 7px) min(1rem, 14px);
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 1px;
  }

  &:focus,
  &:focus-visible {
    border: 1px solid variables.$text-secondary;
  }

  &:active {
    border: 1px solid transparent;
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
