@use "../global/variables";
@use "../global/mixins";

.navigation__list {
  @include mixins.list-reset;

  display: flex;
  flex-direction: column;
  gap: min(1.6rem, 24px);
  padding: min(2.7rem, 40px) 0 min(3.2rem, 48px);

  @media (min-width: variables.$tablet-width) {
    gap: 2rem;
    padding: 4.7rem 0;
  }

  @media (min-width: variables.$desktop-width) {
    flex-direction: row;
    gap: min(2rem, 20px);
    flex-wrap: wrap;
    padding: 0;
  }
}

.navigation__item {
  display: grid;
}

.navigation__link {
  width: fit-content;

  @media (min-width: variables.$desktop-width) {
    padding-top: min(2.3rem, 23px);
  }
}
