@use "../global/variables.scss";

.offer {
  display: grid;
  justify-items: center;
  gap: 20px;
  padding: 20px;
  padding-bottom: 15px;
  border: 7px solid transparent;
  border-image: variables.$text-accent-gradient 7;

  @media (min-width: variables.$tablet-width) {
    grid-template-rows: auto 1fr auto;
    justify-items: start;
    gap: 10px;
    text-align: left;
  }
}

.offer h3 {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: variables.$text-accent-dark;

  @media (min-width: variables.$tablet-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.offer p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: variables.$text-accent-dark;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 30px;
  }
}

.offer__link {
  margin-top: -9px;

  @media (min-width: variables.$tablet-width) {
    margin-left: -10px;
  }
}

.offer--special {
  gap: 0;
  padding: 0;
  background-color: variables.$background-primary-accent;
  border: none;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 278px auto;
    grid-template-rows: auto;
  }

  @media (min-width: variables.$desktop-width) {}
}

.offer__content-wrapper {
  display: grid;
  gap: 28px;
  justify-items: center;
  padding: 30px;
  padding-bottom: 25px;

  @media (min-width: variables.$tablet-width) {
    grid-template-rows: auto 1fr auto;
    justify-items: start;
    gap: 40px;
    padding: 40px 25px;
    padding-bottom: 35px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 40px 45px;
    padding-bottom: 35px;
  }
}

.offer__image-wrapper {
  @media (min-width: variables.$tablet-width) {
    grid-column: 2 / 3;
  }

  @media (min-width: variables.$desktop-width) {
    justify-self: end;
  }
}

.offer__image {
  display: block;
  width: 320px;
  height: 360px;

  @media (min-width: variables.$tablet-width) {
    width: 400px;
    height: 462px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 280px;
    height: 460px;
  }
}

.offer--special h3 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet-width) {
    gap: 20px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: variables.$desktop-width) {}
}

.offer--special h3 > span {
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet-width) {
    font-size: 70px;
    line-height: 70px;
  }

  @media (min-width: variables.$desktop-width) {}
}

.offer--special p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}
