@use "../global/variables.scss";
@use "../global/mixins.scss";

.offers {
  padding: 40px 0;
  text-align: center;
  background-color: variables.$background-primary-light;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 100px 0;
  }
}

.offers__title {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 70px;
  }
}

.offers__list {
  @include mixins.list-reset;

  display: grid;
  grid-auto-flow: dense;
  gap: 30px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 35px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-rows: 1fr min-content;
    align-items: end;
    column-gap: 40px;
    row-gap: 30px;
  }
}

.offers__item {
  display: grid;

  &--special {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-bottom: 10px;

    @media (min-width: variables.$tablet-width) {
      grid-column: 1 / -1;
      width: auto;
      margin: 0;
    }

    @media (min-width: variables.$desktop-width) {
      grid-column: 1 / 2;
      grid-row: span 2;
    }
  }
}
