@use "../global/variables.scss";

.page {
  scroll-behavior: smooth;
  // scrollbar-gutter: stable;
  font-size: calc(100vw / 320 * 10);

  @media (min-width: variables.$tablet-width) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (min-width: variables.$desktop-width) {
    font-size: calc(100vw / 1366 * 10);
  }
}

.page__body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-width: 320px;
  min-height: 100vh;
}
