@use "../global/variables";

.page {
  scroll-behavior: smooth;
  font-size: calc(100vw / 320 * 10);

  @media (min-width: variables.$tablet-width) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (min-width: variables.$desktop-width) {
    font-size: calc(100vw / 1440 * 10);
  }
}

.page__body {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  min-width: 320px;
  min-height: 100vh;
}

.page__body:has(.page__header--with-menu) {
  overflow: hidden;
}

.page__header {
  position: absolute;
  z-index: 3;
  width: 100%;
}

.page__content {
  --top: 100px;

  @media (min-width: variables.$tablet-width) {
    --top: 82px;
  }

  @media (min-width: variables.$desktop-width) {
    --top: 126px;
  }

  max-width: 100%;
  padding-top: var(--top);
}
