@use "../global/variables";
@use "../global/mixins";

.pagination__wrapper {
  @include mixins.list-reset;

  display: flex;
  gap: min(2rem, 30px);

  @media (min-width: variables.$tablet-width) {
    gap: 2rem;
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(2rem, 20px);
  }
}
