@use "../global/variables.scss";
@use "../global/mixins.scss";

.price {
  padding: min(4rem, 60px) 0;
  text-align: center;
  background-color: variables.$background-secondary-light;

  @media (min-width: variables.$tablet-width) {
    padding: min(6rem, 80px) 0;
    background-image: url("../img/barbell-discs.webp");
    background-repeat: no-repeat;
    background-size: min(40.2rem, 536px) min(42.2rem, 563px);
    background-position: right -7.8rem bottom -3.5rem;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(10rem, 140px) 0;
    background-size: min(47rem, 661px) min(49.3rem, 693px);
    background-position: right max(-16.7rem, -235px) bottom -4.5rem;
  }
}

.price__wrapper {
  display: grid;
  gap: min(3rem, 45px);
  justify-items: center;

  @media (min-width: variables.$tablet-width) {
    gap: min(3.5rem, 47px);
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(2rem, 28px);
  }
}

.price__title {
  margin: 0;
}

.price__tabs {
  width: fit-content;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: min(1rem, 13px);
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(2rem, 28px);
  }
}

.price__list {
  @include mixins.list-reset;

  display: grid;
  gap: min(3.5rem, 52px);

  @media (min-width: variables.$tablet-width) {
    gap: min(4rem, 53px);
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.price__item {
  display: grid;
}

.price__card {
  width: min(29rem, 435px);

  @media (min-width: variables.$tablet-width) {
    width: min(38rem, 507px);
  }

  @media (min-width: variables.$desktop-width) {
    width: min(36rem, 506px);
  }
}
