@use "../global/variables";
@use "../global/mixins";

.process__title {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 102px;
    padding-top: 2px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 23px;
    padding: 0;
  }
}

.process__list {
  @include mixins.list-reset;

  position: relative;
  display: grid;
  column-gap: 15px;
  row-gap: 25px;
  padding-left: 29px;

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 36px);
    background-color: variables.$color-accent;
  }

  @media (width <=767px) {
    &::before {
      top: 18px;
      left: 7px;
    }
  }

  @media (min-width: variables.$tablet-width) and (width <=1439px) {
    grid-template-columns: 231px 272px;
    column-gap: 175px;
    row-gap: 104px;
    padding: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(3, 1fr) 440px;
    gap: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 3px;

    &::before {
      width: calc(100% - 34px);
      height: 2px;
      right: 0;
      bottom: -6px;
    }
  }
}

.process__item {
  position: relative;
  display: flex;
  gap: 9px;
  align-items: start;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    background-color: variables.$text-primary-dark;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    left: -28px;
    width: 14px;
    height: 14px;
    background-color: variables.$color-accent;
    border-radius: 50%;
  }

  @media (width <=767px) {
    &::after {
      top: 11px;
    }
  }

  @media (min-width: variables.$tablet-width) and (width <=1439px) {
    gap: 10px;

    &:nth-child(3n + 1) {
      grid-row: 1 / 2;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: variables.$desktop-width) {
    gap: 10px;
    padding-left: 10px;

    &::after {
      bottom: -15px;
      left: 20px;
    }
  }
}

.process__item--sport::before {
  mask-image: url("/__spritemap#sprite-map-view");
}

.process__item--equipment::before {
  mask-image: url("/__spritemap#sprite-boots-view");
}

.process__item--ecology::before {
  mask-image: url("/__spritemap#sprite-trees-view");
}

.process__item--mountains::before {
  mask-image: url("/__spritemap#sprite-mountains-view");
}

.process__description {
  max-width: 198px;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    max-width: 196px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.process__description br {
  @media (max-width: 1439px) {
    display: none;
  }
}
