@use "../global/variables";
@use "../global/mixins";

.process__title {
  margin: 0;
  margin-bottom: min(2.5rem, 37px);

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 10.2rem;
    padding-top: 0.2rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(2.3rem, 23px);
    padding: 0;
  }
}

.process__list {
  @include mixins.list-reset;

  position: relative;
  display: grid;
  column-gap: min(1.5rem, 22px);
  row-gap: min(2.5rem, 37px);
  padding-left: min(2.9rem);

  @media (min-width: variables.$tablet-width) and (width <= 1023px) {
    grid-template-columns: 23.1rem 27.2rem;
    grid-auto-flow: dense;
    column-gap: 17.5rem;
    row-gap: 10.4rem;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(3, 1fr) min(44rem, 440px);
    gap: 0;
    padding: 0;
    padding-top: min(0.7rem, 7px);
    padding-bottom: min(0.3rem, 3px);
  }

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 36px);
    background-color: variables.$color-accent;

    @media (width <= 639px) {
      top: 18px;
      left: min(0.7rem, 10px);
    }

    @media (min-width: variables.$tablet-width) and (width <= 1023px) {
      display: none;
    }

    @media (min-width: variables.$desktop-width) {
      width: calc(100% - 34px);
      height: 2px;
      right: 0;
      bottom: max(-0.6rem, -6px);
    }
  }
}

.process__item {
  position: relative;
  display: flex;
  gap: min(0.9rem, 13px);
  align-items: start;

  @media (min-width: variables.$tablet-width) and (width <= 1023px) {
    gap: 1rem;

    &--sport {
      order: 1;
    }

    &--equipment {
      order: 3;
    }

    &--ecology {
      order: 4;
    }

    &--mountains {
      order: 2;
    }
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(1rem, 10px);
    padding-left: min(1rem, 10px);
  }

  &::before {
    content: "";
    flex-shrink: 0;
    width: min(2.5rem, 37px);
    height: min(2.5rem, 37px);
    background-color: variables.$text-primary-dark;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    @media (min-width: variables.$tablet-width) {
      width: 2.5rem;
      height: 2.5rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(2.5rem, 25px);
      height: min(2.5rem, 25px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: max(-2.8rem);
    width: min(1.4rem, 21px);
    height: min(1.4rem, 21px);
    background-color: variables.$color-accent;
    border-radius: 50%;

    @media (width <= 639px) {
      top: 50%;
      transform: translateY(-50%);
    }

    @media (min-width: variables.$tablet-width) and (width <= 1023px) {
      display: none;
    }

    @media (min-width: variables.$desktop-width) {
      bottom: max(-1.5rem, -15px);
      left: min(2rem, 20px);
      width: min(1.4rem, 14px);
      height: min(1.4rem, 14px);
    }
  }
}

.process__item--sport::before {
  mask-image: url("/__spritemap#sprite-map-view");
}

.process__item--equipment::before {
  mask-image: url("/__spritemap#sprite-boots-view");
}

.process__item--ecology::before {
  mask-image: url("/__spritemap#sprite-trees-view");
}

.process__item--mountains::before {
  mask-image: url("/__spritemap#sprite-mountains-view");
}

.process__description {
  max-width: min(19.8rem, 297px);
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    max-width: 19.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: min(19.6rem, 196px);
    font-size: min(1.6rem, 16px);
    line-height: min(2.4rem, 24px);
  }
}

.process__description br {
  @media (width <= 1023px) {
    display: none;
  }
}
