@use "../global/variables.scss";
@use "../global/mixins.scss";

.reviews-slider {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: dense;
    gap: min(5.1rem, 68px);
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(1.8rem, 25px);
  }
}

.reviews-slider__wrapper {
  width: min(24rem, 360px);
  background-color: variables.$background-secondary-accent;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);

  @media (min-width: variables.$tablet-width) {
    width: min(50rem, 667px);
    grid-column: 2 / 3;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(56rem, 787px);
  }

  @media (scripting: none) {
    overflow: scroll;
  }
}

.reviews-slider__list {
  @include mixins.list-reset;

  @media (scripting: none) {
    gap: min(2rem, 30px);

    @media (min-width: variables.$tablet-width) {
      gap: min(4rem, 53px);
    }

    @media (min-width: variables.$desktop-width) {
      gap: min(4rem, 56px);
    }
  }
}

.reviews-slider__slide {
  max-width: 100%;
}

.reviews-slider__button {
  display: none;

  @media (min-width: variables.$tablet-width) {
    align-self: center;
    display: grid;

    &--previous {
      grid-column: 1 / 2;
    }

    &--next {
      grid-column: 3 / 4;
    }
  }

  @media (scripting: none) {
    display: none;
  }
}
