@use "../global/variables";

.reviews-card {
  display: grid;
  grid-template-rows: auto 1fr repeat(2, auto);
  padding: min(2rem, 30px);
  background-color: variables.$background-primary-light;
  box-shadow: 0 0 20px 0 variables.$color-shadow;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr repeat(2, auto);
    column-gap: 3rem;
    padding: 2rem;
    padding-right: 3rem;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: min(3rem, 41px);
    padding: min(2rem, 27px);
    padding-right: min(3rem, 41px);
  }
}

.reviews-card__author {
  margin: 0;
  margin-bottom: min(0.8rem, 12px);

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(0.8rem, 11px);
  }
}

.reviews-card__image-wrapper {
  order: -2;
  width: min(25rem, 375px);
  height: min(16.9rem, 253px);
  margin-bottom: min(2rem, 30px);

  @media (min-width: variables.$tablet-width) {
    grid-row: span 3;
    width: 18.6rem;
    height: 23.7rem;
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(25.8rem, 354px);
    height: min(25.3rem, 347px);
  }
}

.reviews-card__image {
  display: block;
  width: 100%;
  height: 100%;
}

.reviews-card p {
  order: -1;
  display: grid;
  gap: min(1rem, 15px);
  margin: 0;
  margin-bottom: min(1.5rem, 22px);
  font-size: min(1.2rem, 18px);
  line-height: min(1.8rem, 27px);
  overflow-y: scroll;

  @media (min-width: variables.$tablet-width) {
    gap: 0.8rem;
    margin-bottom: 2.5rem;
    padding-top: 0.4rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(0.2rem, 3px);
    padding: 0;
    font-size: min(1.4rem, 19px);
    line-height: min(2.2rem, 30px);
  }
}

.reviews-card__caption {
  @media (min-width: variables.$tablet-width) {
    padding-bottom: 0.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: min(1rem, 14px);
  }
}
