@use "../global/variables.scss";

.reviews {
  padding: 40px;
  text-align: center;
  background-color: variables.$background-primary-light;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 27px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 100px 329px;
  }
}

.reviews__container {
  width: fit-content;
  margin: 0 auto;
}

.reviews__title {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 35px;
    font-size: 54px;
    line-height: 54px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 75px;
  }
}

.reviews__slider {
  width: 240px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: 714px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 708px;
  }
}
