@use "../global/variables";
@use "../global/mixins";

.reviews-slider {
  @media (min-width: variables.$desktop-width) {
    padding: min(1rem, 10px);
    padding-right: 0;
  }
}

.reviews-slider__wrapper {
  width: 32rem;

  @media (min-width: variables.$tablet-width) {
    width: 76.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100%;
  }
}

.reviews-slider__list {
  @include mixins.list-reset;

  display: flex;
  padding: 25px 15px;

  @media (min-width: variables.$tablet-width) {
    padding: 25px;
  }
}

.reviews-slider__list > .reviews-slider__item {
  width: fit-content;
}

.reviews-slider__slide {
  width: min(29rem, 435px);
  height: min(48.4rem, 726px);

  @media (min-width: variables.$tablet-width) {
    width: 56.5rem;
    height: 27.7rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(70rem, 700px);
    height: min(29.3rem, 293px);
  }
}
