@use "../global/variables";
@use "../global/mixins";

.reviews-slider {
  @media (min-width: variables.$desktop-width) {
    padding: min(1rem, 14px);
  }
}

.reviews-slider__wrapper {
  width: min(32rem, 480px);

  @media (min-width: variables.$tablet-width) {
    width: 74.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(133.5rem, 1833px);
  }
}

.reviews-slider__list {
  @include mixins.list-reset;

  display: flex;
  padding: min(2.5rem, 37px) min(1.5rem, 22px);

  @media (min-width: variables.$tablet-width) {
    padding: 2.5rem;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(2.5rem, 34px);
  }
}

.reviews-slider__list > .reviews-slider__item {
  width: fit-content;
}

.reviews-slider__slide {
  width: min(29rem, 435px);
  height: min(48.4rem, 726px);

  @media (min-width: variables.$tablet-width) {
    width: 56.5rem;
    height: 27.7rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(70rem, 961px);
    height: min(29.3rem, 402);
  }
}
