@use "../global/variables.scss";

.reviews {
  padding: min(4rem, 60px) 0;
  text-align: center;
  background-color: variables.$background-primary-light;

  @media (min-width: variables.$tablet-width) {
    padding: min(6rem, 80px) 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(10rem, 140px) 0;
  }
}

.reviews__container {
  width: fit-content;
  margin: 0 auto;
}

.reviews__title {
  margin: 0;
  margin-bottom: min(4rem, 60px);

  @media (min-width: variables.$tablet-width) {
    margin-bottom: min(3.5rem, 47px);
    font-size: min(5.4rem, 72px);
    line-height: min(5.4rem, 72px);
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: min(7.5rem, 105px);
    font-size: min(5.4rem, 76px);
    line-height: min(5.4rem, 76px);
  }
}

.reviews__slider {
  width: min(24rem, 360px);
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: min(71.4rem, 952px);
  }

  @media (min-width: variables.$desktop-width) {
    width: min(70.8rem, 995px);
  }
}
