@use "../global/variables.scss";
@use "../global/mixins.scss";

.social__list {
  @include mixins.list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: min(2rem, 30px);

  @media (min-width: variables.$tablet-width) {
    gap: min(1.5rem, 20px);
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(1rem, 14px);
  }
}

.social__link {
  display: grid;
  place-content: center;
  width: min(2.5rem, 37px);
  height: min(2.5rem, 37px);
  background-color: variables.$background-primary-light;
  border-radius: 50%;
  transition: background 0.3s linear;

  @media (min-width: variables.$tablet-width) {
    width: min(2.5rem, 33px);
    height: min(2.5rem, 33px);
  }

  @media (min-width: variables.$desktop-width) {
    width: min(2.5rem, 35px);
    height: min(2.5rem, 35px);
  }

  &--vk::after {
    mask-image: url("/__spritemap#sprite-vk-view");
  }

  &--ok::after {
    mask-image: url("/__spritemap#sprite-ok-view");
  }

  &--reddit::after {
    mask-image: url("/__spritemap#sprite-reddit-view");
  }

  &::after {
    content: "";
    display: block;
    width: min(1.7rem, 25px);
    height: min(1.7rem, 25px);
    background-color: variables.$backgound-secondary-dark;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: background 0.3s linear;

    @media (min-width: variables.$tablet-width) {
      width: min(1.7rem, 23px);
      height: min(1.7rem, 23px);
    }

    @media (min-width: variables.$desktop-width) {
      width: min(1.7rem, 24px);
      height: min(1.7rem, 24px);
    }
  }

  &:hover {
    background-color: #74819c;

    &::after {
      background-color: variables.$background-primary-light;
    }
  }

  &:focus,
  &:focus-visible {
    background-color: variables.$text-accent;

    &::after {
      background-color: variables.$background-primary-light;
    }
  }

  &:active {
    background-color: variables.$backgound-primary-dark;

    &::after {
      background-color: variables.$background-primary-light;
    }
  }

  &--disabled {
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }
}
