@use "../global/variables.scss";

.subscription-card {
  display: grid;
  justify-items: center;
  gap: min(1.8rem, 27px);
  padding: min(4.3rem, 64px) min(3.5rem, 52px);
  background-color: variables.$background-primary-light;
  border: 7px solid transparent;

  @media (min-width: variables.$tablet-width) {
    justify-content: stretch;
    gap: min(2.2rem, 29px);
    padding: min(5.8rem, 77px);
  }

  @media (min-width: variables.$desktop-width) {
    justify-content: center;
    justify-items: center;
    gap: min(1.8rem, 25px);
    padding: min(5.8rem, 81px) min(7.1rem, 100px);
  }
}

.subscription-card:has(.subscription-card__button:is(:hover, :focus, :focus-visible)) {
  border-image: linear-gradient(150deg, #d10a42, #00359f) 7;
}

.subscription-card__title {
  margin: 0;
}

.subscription-card__capture {
  margin: 0;
}

.subscription-card__price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1rem, 15px);
  min-width: max-content;
  margin: 0;
  padding: min(6.9rem, 103px) 0 min(0.9rem, 13px);
  color: variables.$text-accent;
  z-index: 3;

  @media (min-width: variables.$tablet-width) {
    gap: min(1.4rem, 19px);
    padding: min(6rem, 80px) 0 0;
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(1.4rem, 20px);
    padding: min(6rem, 84px) 0 0;
  }

  &::after {
    flex-shrink: 0;
    content: "";
    width: min(2.4rem, 36px);
    height: min(3.3rem, 49px);
    background-image: url("/__spritemap#sprite-rubble-view");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: variables.$tablet-width) {
      width: min(3rem, 40px);
      height: min(4.2rem, 56px);
    }

    @media (min-width: variables.$desktop-width) {
      width: min(3rem, 42px);
      height: min(4.2rem, 59px);
    }
  }
}

.subscription-card__shadow {
  position: absolute;
  top: 0;
  font-size: min(8rem, 120px);
  line-height: min(15rem, 225px);
  text-wrap: nowrap;
  color: rgba(232, 232, 232, 0.5);
  z-index: -1;

  @media (min-width: variables.$tablet-width) {
    font-size: min(10rem, 133px);
    line-height: min(15rem, 200px);
  }

  @media (min-width: variables.$desktop-width) {
    font-size: min(10rem, 140px);
    line-height: min(15rem, 211px);
  }
}

.subscription-card__button {
  width: min(19.5rem, 292px);
  max-width: 100%;
  z-index: 3;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(19.5rem, 274px);
  }
}
