@use "../global/variables";
@use "../global/mixins";

.tours-slider {
  overflow: hidden;
}

.tours-slider__wrapper {
  width: min(29rem, 435px);

  @media (min-width: variables.$tablet-width) {
    width: 67.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(120rem, 1648px);
  }
}

.tours-slider__list {
  @include mixins.list-reset;

  display: flex;
}

.tours-slider__slide {
  width: min(29rem, 435px);

  @media (min-width: variables.$tablet-width) {
    width: 33rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(38rem, 522px);
  }
}
