@use "../global/variables";
@use "../global/mixins";

.tours-slider {
  overflow: hidden;
}

.tours-slider__wrapper {
  width: 29rem;
  max-width: 100%;

  @media (min-width: variables.$tablet-width) {
    width: 67.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(120rem, 1200px);
  }
}

.tours-slider__list {
  @include mixins.list-reset;

  display: flex;
}

.tours-slider__list .tours-slider__item {
  display: grid;
  width: fit-content;
  height: auto;
}

.tours-slider__slide {
  width: 29rem;

  @media (min-width: variables.$tablet-width) {
    width: 33rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100%;
  }
}
