@use "../global/variables";

.tours-card {
  position: relative;
  display: grid;
  align-content: end;
  gap: min(1.5rem, 22px);
  min-height: min(41.6rem, 624px);
  padding: min(3rem, 45px) min(2rem, 30px);
  color: variables.$text-primary-light;
  background-color: variables.$background-contrast;

  @media (min-width: variables.$tablet-width) {
    gap: 1.5rem;
    min-height: 41.6rem;
    padding: 3rem 2rem;
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(1.5rem, 21px);
    min-height: min(41.6rem, 571px);
    padding: min(3rem, 41px) min(2rem, 27px);
  }

  &::before {
    content: "";
    z-index: 2;
    grid-row: 3 / 4;
    width: 8rem;
    height: 1px;
    background-color: variables.$text-primary-light;
    opacity: 0.2;

    @media (min-width: variables.$desktop-width) {
      width: min(8rem, 110px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: variables.$gradient-dark;
  }
}

.tours-card--with-overlay::after {
  background-color: variables.$overlay-background;
  background-image: none;
}

.tours-card__title {
  z-index: 2;
  margin: 0;
  font-size: min(2.4rem, 36px);
  line-height: min(2.8rem, 42px);
  color: inherit;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: -0.1rem;
    margin-top: 0.1rem;
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: min(24rem, 330px);
    font-size: min(2.4rem, 33px);
    line-height: min(2.8rem, 38px);
  }
}

.tours-card__image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tours-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tours-card__header {
  z-index: 2;
  order: -1;
  display: flex;
  align-items: center;
  column-gap: min(0.5rem, 7px);
  row-gap: min(1.2rem, 18px);
  flex-wrap: wrap;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    justify-content: space-between;
    column-gap: 0.5rem;
    row-gap: 1.2rem;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: min(0.5rem, 7px);
    row-gap: min(1.2rem, 16px);
  }
}

.tours-card__location {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: min(0.6rem, 9px);
  margin: 0;
  padding: min(0.6rem, 9px) min(1.2rem, 18px);
  font-size: min(1.2rem, 18px);
  line-height: 100%;
  font-weight: 500;
  background-color: variables.$background-accent;

  @media (min-width: variables.$tablet-width) {
    gap: 0.6rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(0.6rem, 8px);
    padding: min(0.6rem, 8px) min(1.2rem, 16px);
    font-size: min(1.2rem, 16px);
  }

  &::before {
    content: "";
    width: min(1.6rem, 24px);
    height: min(1.6rem, 24px);
    background-color: variables.$text-primary-light;
    mask-image: url("/__spritemap#sprite-pin-filled-view");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    @media (min-width: variables.$tablet-width) {
      width: 1.6rem;
      height: 1.6rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(1.6rem, 22px);
      height: min(1.6rem, 22px);
    }
  }
}

.tours-card__duration-wrapper {
  z-index: 2;
  display: flex;
  gap: 14px;
  margin: 0;
}

.tours-card__duration {
  display: flex;
  align-items: center;
  gap: min(1.2rem, 18px);
  margin: 0;
  font-size: min(1.2rem, 18px);
  line-height: 100%;
  font-weight: 500;

  @media (min-width: variables.$tablet-width) {
    gap: 1.2rem;
    font-size: 1.2rem;
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(1.2rem, 16px);
    font-size: min(1.2rem, 16px);
  }

  &::before {
    content: "";
    width: min(2rem, 30px);
    height: min(2rem, 30px);
    background-color: variables.$text-primary-light;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    @media (min-width: variables.$tablet-width) {
      width: 2rem;
      height: 2rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(2rem, 27px);
      height: min(2rem, 27px);
    }
  }

  &--days::before {
    mask-image: url("/__spritemap#sprite-sun-view");
  }

  &--nights::before {
    mask-image: url("/__spritemap#sprite-moon-view");
  }
}

.tours-card__footer {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.tours-card__capture {
  font-size: min(1.2rem, 18px);
  line-height: 100%;
  font-weight: 300;

  @media (min-width: variables.$tablet-width) {
    font-size: 1.2rem;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: min(1.2rem, 16px);
  }
}

.tours-card__stars {
  display: flex;
  width: min(8.4rem, 126px);
  min-height: min(1.6rem, 24px);
  margin: 0;
  margin-top: min(0.4rem, 6px);

  @media (min-width: variables.$tablet-width) {
    width: 8.4rem;
    min-height: 1.6rem;
    margin-top: 0.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(8.4rem, 115px);
    min-height: min(1.6rem, 22px);
    margin-top: min(0.4rem, 5px);
  }

  &::before,
  &::after {
    content: "";
    height: min(1.6rem, 24px);
    background-repeat: space;
    background-size: min(1.6rem, 24px) min(1.6rem, 24px);

    @media (min-width: variables.$tablet-width) {
      height: 1.6rem;
      background-size: 1.6rem 1.6rem;
    }

    @media (min-width: variables.$desktop-width) {
      height: min(1.6rem, 22px);
      background-size: min(1.6rem, 22px) min(1.6rem, 22px);
    }
  }
}

.tours-card__stars--one {
  &::before {
    width: min(1.6rem, 24px);
    background-image: url("/__spritemap#sprite-star-filled-view");

    @media (min-width: variables.$tablet-width) {
      width: 1.6rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(1.6rem, 22px);
    }
  }

  &::after {
    width: min(6.7rem, 100px);
    background-image: url("/__spritemap#sprite-star-stroke-view");

    @media (min-width: variables.$tablet-width) {
      width: 6.7rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(6.7rem, 92px);
    }
  }
}

.tours-card__stars--two {
  &::before {
    width: min(3.3rem, 49px);
    background-image: url("/__spritemap#sprite-star-filled-view");

    @media (min-width: variables.$tablet-width) {
      width: 3.3rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(3.3rem, 45px);
    }
  }

  &::after {
    width: min(5rem, 75px);
    background-image: url("/__spritemap#sprite-star-stroke-view");

    @media (min-width: variables.$tablet-width) {
      width: 5rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(5rem, 69px);
    }
  }
}

.tours-card__stars--three {
  &::before {
    width: min(5rem, 75px);
    background-image: url("/__spritemap#sprite-star-filled-view");

    @media (min-width: variables.$tablet-width) {
      width: 5rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(5rem, 69px);
    }
  }

  &::after {
    width: min(3.3rem, 49px);
    background-image: url("/__spritemap#sprite-star-stroke-view");

    @media (min-width: variables.$tablet-width) {
      width: 3.3rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(3.3rem, 45px);
    }
  }
}

.tours-card__stars--four {
  &::before {
    width: min(6.7rem, 100px);
    background-image: url("/__spritemap#sprite-star-filled-view");

    @media (min-width: variables.$tablet-width) {
      width: 6.7rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(6.7rem, 92px);
    }
  }

  &::after {
    width: min(1.6rem, 24px);
    background-image: url("/__spritemap#sprite-star-stroke-view");

    @media (min-width: variables.$tablet-width) {
      width: 1.6rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(1.6rem, 22px);
    }
  }
}

.tours-card__stars--five {
  &::before {
    width: min(8.4rem, 126px);
    background-image: url("/__spritemap#sprite-star-filled-view");

    @media (min-width: variables.$tablet-width) {
      width: 8.4rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(8.4rem, 115px);
    }
  }

  &::after {
    display: none;
  }
}

.tours-card__description {
  margin: 0;
  margin-top: min(0.7rem, 10px);
  font-size: min(1.3rem, 19px);
  line-height: 100%;
  font-weight: 700;

  @media (min-width: variables.$tablet-width) {
    margin-top: 0.7rem;
    font-size: 1.3rem;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: min(0.7rem, 10px);
    font-size: min(1.3rem, 18px);
  }
}
