@use "../global/variables";

.tours {
  padding: min(2rem, 30px) 0;

  @media (min-width: variables.$tablet-width) {
    padding: 4rem 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(10rem, 100px) 0;
  }
}

.tours__wrapper {
  display: grid;
  gap: min(2.5rem, 37px);

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 1fr auto;
    gap: 2.5rem;
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(5.3rem, 53px);
  }
}

.tours__title {
  margin: 0;

  @media (width <=639px) {
    padding-top: min(1.9rem, 28px);
    padding-bottom: min(1.4rem, 21px);
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: min(2.3rem, 23px);
    padding-bottom: 0;
    margin-bottom: max(-0.3rem, -3px);
  }
}

.tours__slider {
  width: 100%;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
  }
}

.tours__link {
  justify-self: center;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
  }
}

.tours__navigation {
  @media (width <= 639px) {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: end;
  }
}
