@use "../global/variables";
@use "../global/mixins";

.tours-slider {
  overflow: hidden;
}

.tours-slider__wrapper {
  width: 290px;

  @media (min-width: variables.$tablet-width) {
    width: 678px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1200px;
  }
}

.tours-slider__list {
  @include mixins.list-reset;

  display: flex;
}

.tours-slider__slide {
  width: 290px;

  @media (min-width: variables.$tablet-width) {
    width: 330px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 380px;
  }
}
