@use "../global/variables";

.training {
  padding: min(2rem, 30px) 0;

  @media (min-width: variables.$tablet-width) {
    padding: 4rem 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(4rem, 55px) 0;
  }
}

.training__wrapper {
  display: grid;
  gap: min(2.5rem, 37px);

  @media (min-width: variables.$tablet-width) {
    gap: 2.5rem;
  }

  @media (min-width: variables.$desktop-width) {
    gap: min(5.6rem, 77px);
  }
}

.training__title {
  margin: 0;
}

.training h2 + p {
  margin: 0;
  margin-top: max(-0.7rem, -10px);
  font-size: min(1.4rem, 21px);
  line-height: min(2rem, 30px);

  @media (min-width: variables.$tablet-width) {
    margin-top: -0.1rem;
    margin-bottom: 0.2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: min(82rem, 1126px);
    margin-top: max(-1.9rem, -26px);
    margin-bottom: 0;
  }
}
