@use "../global/variables";

.button {
  display: grid;
  place-content: center;
  padding: min(1.9rem, 28px);
  font-family: variables.$font-primary;
  font-size: min(1.6rem, 24px);
  line-height: 100%;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition:
    color 0.3s linear,
    background-color 0.3s linear,
    border-color 0.3s linear;

  @media (min-width: variables.$tablet-width) {
    padding: 1.9rem;
    font-size: 1.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(1.9rem, 26px);
    font-size: min(1.6rem, 22px);
  }

  &--primary {
    color: variables.$text-primary-light;
    background-color: variables.$color-accent;

    &:hover {
      color: variables.$color-active;
      background-color: variables.$background-primary-light;
      border-color: variables.$color-active;
    }

    &:focus {
      color: variables.$color-active;
      background-color: variables.$background-primary-light;
      border-color: transparent;
    }

    &:focus-visible {
      outline-offset: 5px;
    }

    &:active {
      color: variables.$text-primary-light;
      background-color: variables.$color-active;
      border-color: transparent;
    }
  }

  &:disabled,
  &.button--disabled {
    color: variables.$text-primary-light;
    background-color: variables.$color-disabled;
    border-color: transparent;
    cursor: not-allowed;
  }
}
