@use "../global/variables.scss";

.container {
  width: calc(100% - 30px);
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: calc(100% - 90px);
  }

  @media (min-width: variables.$desktop-width) {
    width: calc(100% - 206px);
    max-width: 2000px;
  }
}
