@use "../global/variables";

.copyright__link {
  display: block;
  font-size: min(1.2rem, 18px);
  line-height: 100%;
  font-weight: 300;
  text-decoration: none;
  color: variables.$text-primary-dark;
  transition: color 0.3s linear;

  @media (min-width: variables.$tablet-width) {
    font-size: 1.2rem;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: min(1.2rem, 12px);
  }

  &:hover {
    color: variables.$color-hover;
  }

  &:focus {
    color: variables.$color-accent;
  }

  &:active {
    color: variables.$color-active;
  }
}
