@use "../global/variables";

.field {
  position: relative;
}

.field__input {
  padding: min(1.6rem, 24px) min(1.4rem, 21px);
  font-family: variables.$font-primary;
  font-size: min(1.6rem, 24px);
  line-height: 100%;
  font-weight: 400;
  background-color: variables.$form-background-light;
  border: 1px solid variables.$form-primary;
  transition:
    color 0.3s linear,
    border-color 0.3s linear;

  @media (min-width: variables.$tablet-width) {
    padding: 1.9rem 2.9rem;
    font-size: 1.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    padding: min(1.9rem, 19px) min(2.9rem, 29px);
    font-size: min(1.6rem, 16px);
  }

  &::placeholder {
    color: variables.$form-accent;
  }

  &:placeholder-shown {
    border-color: variables.$color-accent;
  }

  &:hover {
    border-color: variables.$form-accent;
  }

  &:focus {
    border-color: variables.$form-focus;
  }

  &:disabled {
    border-color: variables.$form-disabled;
    cursor: not-allowed;
  }

  &:user-invalid {
    border-color: variables.$form-invalid;
  }
}

.field__label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 1;
  font-size: min(1.6rem, 24px);
  line-height: 100%;
  color: variables.$text-primary-dark;
  opacity: 0.5;
  cursor: text;
  transition:
    color 0.3s linear,
    opacity 0.3s linear;

  @media (min-width: variables.$tablet-width) {
    left: 30px;
    font-size: 1.6rem;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: min(1.6rem, 16px);
  }
}

.field__input:focus + .field__label,
.field__input:placeholder-shown + .field__label,
.field__input:user-valid + .field__label,
.field__input:user-invalid + .field__label {
  opacity: 0;
}

.field__input[data-empty]:user-invalid + .field__label {
  opacity: 0.5;
}

.field__input:disabled + .field__label {
  color: variables.$form-disabled;
  opacity: 0.5;
  cursor: not-allowed;
}
