@use "../global/variables.scss";

.field {
  position: relative;
}

.field__input {
  width: 100%;
  padding: 8px 4px 4px 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: variables.$text-secondary;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #74819c;
  transition:
    color 0.3s linear,
    border 0.3s linear,
    outline 0.3s linear;

  &::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &:hover {
    color: variables.$text-secondary;
    border-bottom: 1px solid variables.$color-light;
  }

  &:focus,
  &:focus-visible {
    color: variables.$text-secondary;
    border: 1px solid variables.$color-light;
  }

  &:user-invalid,
  &--error {
    color: variables.$text-secondary;
    border: 1px solid transparent;
    border-bottom: 1px solid variables.$form-error;
    outline: none;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }
}

.field__error {
  position: absolute;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-wrap: nowrap;
  color: variables.$form-error;
}
