@use "../global/variables";

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-family: variables.$font-primary;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s linear;

  &::after {
    content: "";
    width: 10px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-tick-view");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: background-color 0.3s linear;
  }
}

.link--primary {
  color: variables.$text-primary-dark;

  &::after {
    background-color: variables.$text-primary-dark;
  }

  &:hover {
    color: variables.$color-hover;

    &::after {
      background-color: variables.$color-hover;
    }
  }

  &:focus {
    color: variables.$color-accent;

    &::after {
      background-color: variables.$color-accent;
    }
  }

  &:active {
    color: variables.$color-active;

    &::after {
      background-color: variables.$color-active;
    }
  }

  &:disabled,
  &.link--disabled {
    color: variables.$color-disabled;
    cursor: not-allowed;
  }
}

.link.link--disabled {
  &::after {
    background-color: variables.$color-disabled;
  }
}
