@use "../global/variables.scss";

.logo-image {
  width: min(10rem, 150px);
  height: min(2rem, 30px);

  @media (min-width: variables.$tablet-width) {
    width: min(11rem, 147px);
    height: min(2.2rem, 29px);
  }

  @media (min-width: variables.$desktop-width) {
    width: min(13rem, 183px);
    height: min(2.6rem, 36px);
  }
}
