@use "../global/variables";

.logo__image {
  width: 100%;
  height: 100%;
  transition: color 0.3s linear;
}

.logo--light .logo__image {
  color: variables.$text-primary-light;
}

.logo--light:hover .logo__image {
  color: variables.$color-opacity;
}

.logo--light:focus .logo__image {
  color: variables.$text-primary-dark;
}

.logo--light:active .logo__image {
  color: variables.$color-active;
}

.logo--dark .logo__image {
  color: variables.$text-primary-dark;
}

.logo--dark:hover .logo__image {
  color: variables.$color-hover;
}

.logo--dark:focus .logo__image {
  color: variables.$color-accent;
}

.logo--dark:active .logo__image {
  color: variables.$color-active;
}

.logo.logo--disabled .logo__image {
  color: variables.$color-disabled;
  cursor: not-allowed;
}
