@use "../global/variables";

.menu-link {
  padding: 2px 4px;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  transition:
    border-color 0.3s linear,
    color 0.3s linear;

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 16px;
    text-transform: capitalize;
  }

  &--light {
    color: variables.$text-primary-light;

    &:hover {
      border-bottom-color: variables.$text-primary-light;
    }

    &:focus {
      border-color: variables.$text-primary-light;
    }

    &:active {
      color: variables.$color-active;
      border-color: transparent;
    }
  }

  &--dark {
    color: variables.$text-primary-dark;

    &:hover {
      border-bottom-color: variables.$text-primary-dark;
    }

    &:focus {
      border-color: variables.$text-primary-dark;
    }

    &:active {
      color: variables.$color-accent;
      border-color: transparent;
    }
  }
}

.menu-link.menu-link--disabled {
  color: variables.$color-disabled;
  border-color: transparent;
  cursor: not-allowed;
}
