@use "../global/variables";

.social-link {
  display: grid;
  place-content: center;
  width: min(3.2rem, 48px);
  height: min(3rem, 45px);
  border: 1px solid variables.$text-primary-opacity;
  transition:
    border-color 0.3s linear,
    background-color 0.3s linear;

  @media (min-width: variables.$tablet-width) {
    width: 3.2rem;
    height: 3rem;
  }

  @media (min-width: variables.$desktop-width) {
    width: min(3rem, 41px);
    height: min(3rem, 41px);
  }

  &::before {
    content: "";
    width: min(3.2rem, 48px);
    height: min(3rem, 45px);
    background-color: variables.$text-primary-dark;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: background-color 0.3s linear;

    @media (min-width: variables.$tablet-width) {
      width: 3.2rem;
      height: 3rem;
    }

    @media (min-width: variables.$desktop-width) {
      width: min(3rem, 41px);
      height: min(3rem, 41px);
    }
  }

  &--vk::before {
    mask-image: url("/__spritemap#sprite-vk-view");
  }

  &--ok::before {
    mask-image: url("/__spritemap#sprite-ok-view");
  }

  &--reddit::before {
    mask-image: url("/__spritemap#sprite-reddit-view");
  }

  &:hover {
    border-color: variables.$text-primary-dark;

    &::before {
      background-color: variables.$text-primary-dark;
    }
  }

  &:focus {
    border-color: transparent;

    &::before {
      background-color: variables.$text-primary-dark;
    }
  }

  &:active {
    background-color: variables.$color-accent;
    border-color: transparent;

    &::before {
      background-color: variables.$text-primary-light;
    }
  }
}

.social-link.social-link--disabled {
  background-color: transparent;
  border-color: variables.$text-primary-opacity;
  cursor: not-allowed;

  &::before {
    background-color: variables.$text-primary-opacity;
  }
}
