@use "../global/variables.scss";

.text {
  font-family: variables.$font-primary;

  &--large {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }

  &--medium {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }

  &--small {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
