@use "../global/variables.scss";

.text {
  font-family: variables.$font-primary;

  &--small {
    font-size: min(1.4rem, 21px);
    line-height: min(2rem, 30px);
    font-weight: 400;

    @media (min-width: variables.$tablet-width) {
      font-size: min(1.4rem, 19px);
      line-height: min(2.2rem, 29px);
    }

    @media (min-width: variables.$desktop-width) {
      font-size: min(1.4rem, 20px);
      line-height: min(2.2rem, 31px);
    }
  }

  &--medium {
    font-size: min(1.4rem, 21px);
    line-height: min(2.2rem, 33px);
    font-weight: 300;

    @media (min-width: variables.$tablet-width) {
      font-size: min(1.6rem, 21px);
      line-height: min(2.4rem, 32px);
    }

    @media (min-width: variables.$desktop-width) {
      font-size: min(1.6rem, 22px);
      line-height: min(2.4rem, 34px);
    }
  }

  &--large {
    font-size: min(1.6rem, 24px);
    line-height: min(2rem, 30px);
    font-weight: 300;

    @media (min-width: variables.$tablet-width) {
      font-size: min(1.8rem, 24px);
      line-height: min(2.4rem, 32px);
    }

    @media (min-width: variables.$desktop-width) {
      font-size: min(1.8rem, 25px);
      line-height: min(2.4rem, 34px);
    }
  }
}
