@use "../global/variables";

.title {
  font-family: variables.$font-primary;
  line-height: 100%;
  color: variables.$text-primary-dark;

  &--first {
    font-size: 30px;
    font-weight: 800;

    @media (min-width: variables.$tablet-width) {
      font-size: 56px;
    }

    @media (min-width: variables.$desktop-width) {
      font-size: 77px;
    }
  }

  &--second {
    font-size: 26px;
    font-weight: 800;

    @media (min-width: variables.$tablet-width) {
      font-size: 40px;
    }

    @media (min-width: variables.$desktop-width) {
      font-size: 55px;
    }
  }

  &--third {
    font-size: 22px;
    font-weight: 800;

    @media (min-width: variables.$tablet-width) {
      font-size: 25px;
    }

    @media (min-width: variables.$desktop-width) {
      font-size: 35px;
    }
  }

  &--fourth {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;

    @media (min-width: variables.$tablet-width) {
      font-size: 24px;
      line-height: 28px;
    }

    @media (min-width: variables.$desktop-width) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &--fifth {
    font-size: 16px;
    font-weight: 700;

    @media (min-width: variables.$tablet-width) {
      font-size: 18px;
    }

    @media (min-width: variables.$desktop-width) {
      font-size: 21px;
    }
  }

  &--sixth {
    font-size: 14px;
    font-weight: 600;

    @media (min-width: variables.$tablet-width) {
      font-size: 16px;
    }

    @media (min-width: variables.$desktop-width) {
      font-size: 18px;
    }
  }

  &--seventh {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;

    @media (min-width: variables.$tablet-width) {
      font-size: 14px;
      line-height: 16px;
    }

    @media (min-width: variables.$desktop-width) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.title--shadow {
  position: relative;
  padding-top: 19px;
  padding-bottom: 14px;

  &::before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 26px;
    line-height: 100%;
    font-weight: 800;
    text-align: inherit;
    opacity: 0.03;
  }

  @media (min-width: variables.$tablet-width) {
    padding-top: 20px;
    padding-bottom: 10px;

    &::before {
      font-size: 40px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 19px;
    padding-bottom: 1px;

    &::before {
      font-size: 55px;
    }
  }
}
