@use "../global/variables";

.title {
  &--first {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;

    @media (min-width: variables.$tablet-width) {
      font-size: 36px;
      line-height: 44px;
    }

    @media (min-width: variables.$desktop-width) {
      font-size: 54px;
      line-height: 62px;
    }
  }
}
