@use "../global/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: variables.$font-primary;
  font-size: 14px;
  line-height: 20px;
  color: variables.$text-primary-dark;
  background-color: variables.$background-primary-light;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
