/* VIEWPORTS-WIDTH */
$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 1024px;

/* FONTS */
$font-primary: "Montserrat", "Helvetica", sans-serif;

/* TEXT-COLORS */
$text-primary-dark: #2d383f;
$text-primary-opacity: rgba(46, 57, 64, 0.3);
$text-primary-light: #ffffff;

/* BASIC-COLORS */
$color-accent: #0266c1;
$color-primary-dark: #2d383f;
$color-primary-light: #ffffff;
$color-opacity: rgba(255, 255, 255, 0.5);
$color-border: rgba(2, 102, 193, 0.1);
$color-shadow: rgba(28, 51, 116, 0.1);
$color-border-transparent: rgba(45, 56, 63, 0.2);

/* BACKGROUND-COLORS */
$background-primary-light: #ffffff;
$background-secondary-light: #d9d9d9;
$background-accent: #0266c1;
$background-opacity: rgba(255, 255, 255, 0.5);
$background-contrast: #2d383f;

/* OVERLAY-COLORS */
$gradient-light: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0.19) 100%);
$gradient-dark: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.5%, rgba(0, 0, 0, 0.6) 78%);
$overlay-dark: rgba(46, 56, 63, 0.6);
$overlay-background: rgba(0, 0, 0, 0.2);

/* ACTION-COLORS */
$color-hover: rgba(2, 102, 193, 0.1);
$color-active: #1c3374;
$color-disabled: #999999;

/* FORM-COLORS */
$form-background-light: #ffffff;
$form-primary: rgba(2, 102, 193, 0.1);
$form-accent: #0266c1;
$form-focus: #2d383f;
$form-disabled: #999999;
$form-invalid: #ff121f;
