/* VIEWPORTS-WIDTH */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;

/* FONTS */
$font-primary: "Roboto Condensed", "Helvetica", sans-serif;
$font-secondary: "Alumni Sans", "Helvetica", sans-serif;

/* BASIC-COLORS */
$color-dark: #000000;
$color-dark-primary: #102654;
$color-dark-secondary: #1c3374;
$color-light: #ffffff;
$color-accent: #d10a42;
$color-accent-gradient: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
$color-accent-gradient-blur: linear-gradient(151deg, rgba(237, 2, 51, 0.8) 0%, rgba(0, 62, 183, 0.8) 100%);

/* TEXT-COLORS */
$text-primary: #102654;
$text-secondary: #ffffff;
$text-accent: #103aae;
$text-accent-dark: #1c3374;
$text-accent-gradient: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);

/* BACKGROUND-COLORS */
$background-primary-light: #ffffff;
$background-secondary-light: #f8f9fc;
$backgound-primary-dark: #102654;
$backgound-secondary-dark: #030a1a;
$background-primary-accent: #ed0233;
$background-secondary-accent: #1c3374;
$background-accent-gradient: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);

/* FORM-COLORS */
$form-primary: #ffffff;
$form-error: #ff121f;
